[2020-07-25 08:48] harsh-9in opened #1 "Redirect after signup/Registration"
After registration, the URL is not redirected to the login page. Instead of this, it is showing error.

Reverse for 'Login' not found. 'Login' is not a valid view function or pattern name.`

[2020-08-07 08:47] harsh-9in opened #2 "Profile Picture"
Profile Picture is not showing after registration.

[2020-08-08 09:35] Akshi149 commented on #1
Hii @harsh-9in I would like to work on this issue.

[2020-08-08 09:37] harsh-9in commented on #1
Hey @Akshi149, Go adhead :)

[2020-08-08 11:34] #1 closed

[2020-08-08 18:05] Kajol-Kumari opened #6 "Add Issue and pull request templates"
**Deliverables**

- [ ] A template for issue creation.

- [ ] A template for making pull requests.

Reference Resources:https://medium.com/@ramsunvtech/github-templates-f9223da738a4
https://medium.com/better-programming/github-templates-the-smarter-way-to-formalize-pull-requests-among-development-teams-89f8d6a204f

[2020-08-11 03:20] ritiksoni00 commented on #6
@Kajol-Kumari  What i understand by A template?? what should i have to do

[2020-08-11 03:23] ritiksoni00 commented on #6
i think in readme file  write a section about issues and Making Pr????

[2020-08-11 03:53] Kajol-Kumari commented on #6
Hey @ritiksoni00  by a template, i mean the prototype that will appear when user tries to create an issue or a Pull request.
For getting clear idea regarding this, please see the reference resources i added in the description.

[2020-08-11 04:47] Sapna2001 commented on #6
@Kajol-Kumari can I work on this?

[2020-08-11 05:59] ritiksoni00 commented on #6
@Sapna2001  I'm working on templates one you can take the issues template! Ohkay??

[2020-08-11 06:19] ritiksoni00 commented on #2
harsh i did not understand what it is actually about i just started learning Django

[2020-08-11 06:54] Kajol-Kumari commented on #6
Hey @Sapna2001 as @ritiksoni00 has already started working on it so you can look for the other PRs we will be opening soon.

[2020-08-11 08:38] harsh-9in opened #8 "Creating Bolg/Post"
We can create blogs/posts from the command line/terminal right now.
Add functionality to create blogs through the web interface.

[2020-08-11 08:41] nooras commented on #8
You mean to say we have to create post app in django? right and have to add create blog by clicking create? @harsh-9in

[2020-08-11 08:42] nooras commented on #8
And what what inputs will be there ? like Title, description, image And ??? @harsh-9in

[2020-08-11 09:00] harsh-9in commented on #8
I have already created app for that
you can checkout `blog` app for that

The thing you have to do is to make a form which takes data for our blog and show it on home page.

[2020-08-11 09:01] harsh-9in commented on #8
You have to take two inputs for now that is **Title** and **description**.
we will make a support for image in future.

[2020-08-11 09:11] harsh-9in opened #9 "Home Page UI"
Make ui of the home page more attractive.
You can use HTML,CSS,Bootstrap.

[2020-08-11 09:28] nooras commented on #8
Okay so I will do this please assign me okay @harsh-9in ?

[2020-08-11 09:31] harsh-9in commented on #8
yeah sure go ahead :)  @nooras

[2020-08-11 09:33] nooras commented on #2
I saw this issue. the thing is there is 2 users data db 1 one which is created by own django admin panel. 2. You have created profile model. after registering data is going to by default admin panel not in profile. so first we have to enter data in profile model and after that we have to show it on screen. and in front end after registering user have to upload image in profile section which will s

[2020-08-11 09:38] harsh-9in commented on #2
yes @nooras  you can work on this issue.

[2020-08-11 09:48] nooras commented on #8
I have 1 request please also tag the task is easy medium or hard . Coz I think due to this we will get points :) Thanks

[2020-08-11 13:38] ymaheshwari1 commented on #9
Hi,
What kind of UI, we are expecting?

[2020-08-11 16:24] ymaheshwari1 commented on #9
I am willing to work on the UI.

[2020-08-12 08:53] itsarjun12 commented on #9
I can work on this.

[2020-08-12 11:53] itsarjun12 commented on #9
tell me about what kind of page you need?

[2020-08-12 12:36] Swarnimashukla commented on #9
Hey everyone , we are looking for a home page which includes blogs written by users , categories section from where reader can choose what kind of blog they are looking for , page where they could write their own blog . These all features are supposed to be on home page . I will be opening new issues for different page design , firstly we need to design wireframes for website

[2020-08-12 12:48] Swarnimashukla opened #11 "Design a wireframe for Home page"
**Task**

You are supposed to create a landing page for website where user can read and write blogs .

**Features**

We can add following features on website but not restricted to these you can use your own creativity .
1. Header ( home , about us , notification, search , user account)
2. Body (Blogs and articles written by user , category section for different kind of articles eg: entertainment ,

[2020-08-12 12:50] ymaheshwari1 commented on #11
I want to work on this issue.

[2020-08-12 12:56] Swarnimashukla opened #12 "Add contribution guidelines in README.md"
Task
Add contribution guidelines for PR generation .

**Must include points in guideline**

1. Claiming issues
2. Adding UI screenshots for design related PR .
3. Create PR to specified branch
4. Proper commit message

(For reference purpose only)

Try to be more creative and elaborate your points properly. Check for open source projects take inspiration on how to create contribution guidelines

*

[2020-08-12 13:28] Akshi149 commented on #12
@Swarnimashukla I would like to work on it. Please assign this to me.

[2020-08-13 07:36] Joshitha18 opened #13 "A seperate page for each post"
Each title of post on home page directs to a new page containing details of that post

[2020-08-13 07:36] Joshitha18 commented on #13
Can I work on it?

[2020-08-13 07:56] Ahana001 opened #14 "Deleting/updating blog/post"
Each title of post directs to new page containing feature to update or delete blog. **Add functionality to delete/update blogs through web interface.**

[2020-08-13 07:59] Ahana001 commented on #14
hope you got it!! I can do that. can I work on it??@harsh-9in

[2020-08-13 08:26] harsh-9in commented on #13
the title of the post is not redirecting to any page till now. I want you to add the feature of redirecting it to a detailed summary page of the blog.
Am I clear to you? @Joshitha18

[2020-08-13 08:27] harsh-9in commented on #13
you have to create a page that contains a detail summary about the blog and connect it through the title.

[2020-08-13 08:28] harsh-9in commented on #13
Do you want to work on this issue? @Joshitha18

[2020-08-13 08:31] Joshitha18 commented on #13
Yes

[2020-08-13 08:33] harsh-9in commented on #13
That's Great I am assigning this issue to @Joshitha18. Go ahead :)

[2020-08-13 08:34] Ahana001 commented on #14
I want to add feature of delete and update post.
I can do that. can I work on it??@harsh-9in

[2020-08-13 08:34] Joshitha18 commented on #13
Yeah, the redirected page will contain all the information regarding that post

[2020-08-13 08:38] harsh-9in commented on #13
Yes, it will contain a detailed description of that for now.

[2020-08-13 08:44] harsh-9in commented on #14
Till the feature of redirecting to a new page after clicking the title is not present. @Joshitha18 is working on that.

**After her work, you can add a feature of deleting the post by using a button and for updating we will redirect it to the creating of post page which is under process and being handled by another participant.**
So, I am assigning you @Ahana001  for adding both features deleting

[2020-08-13 13:23] Swarnimashukla opened #17 "Design a logo for Blogger"
Task

You are supposed to design a logo for blogger . Look for designs which are already present for currently running blogging websites .

**Implementation**

Tools used : Adobe photoshop , Adobe illustrator or any other tool convenient to you.
Create designs and share screenshots in comment section
Once finalized create PR

**Procedure**

Claim this issue: Comment below that you want to work on

[2020-08-13 13:35] Swarnimashukla opened #18 "Design a wireframe for community page"
**Task**

You are supposed to create a community page for website where user can connect with communities related to their interest (eg: technology, science , sports , ux/ui design , programmers community etc.) .

**Features**

We can add following features on website but not restricted to these you can use your own creativity .

1. Different communities options which user can join
2. Details sect

[2020-08-13 17:34] Joshitha18 opened #19 "Display Latest Posts in the Sidebar"
To display Titles(or any other information required) of 5 recent posts in the sidebar.

[2020-08-13 17:35] Joshitha18 commented on #19
Can I work on it? @harsh-9in

[2020-08-13 22:48] raksha009 commented on #17
Hi, I would like to work on this issue. Plz assign this to me.

[2020-08-13 22:53] raksha009 commented on #9
Hi, I would like to work on this issue. Plz assign it to me.

[2020-08-14 05:37] Ahana001 commented on #14
she has finished her work but you has not merged it. so Can I start working on it?

[2020-08-14 06:46] swapniltripathi123 commented on #11
![Homepageui wireframe](https://user-images.githubusercontent.com/57709091/90221540-fdb7e680-de27-11ea-8aa8-c1194aded337.PNG)

[2020-08-14 06:47] swapniltripathi123 commented on #11
![Homepageui wireframe](https://user-images.githubusercontent.com/57709091/90221592-1cb67880-de28-11ea-8590-49af5051dfe9.PNG)

please review it .

[2020-08-14 06:49] swapniltripathi123 commented on #11
![Homepageui wireframe](https://user-images.githubusercontent.com/57709091/90221683-41125500-de28-11ea-9822-6f69780047fe.PNG)

please review it ma'am @Swarnimashukla

[2020-08-14 06:57] swapniltripathi123 commented on #18
I want to work on this issue .

[2020-08-14 07:21] harsh-9in commented on #19
Yes, you can show the last  5 updated posts on the sidebar.
This issue is assigned to @Joshitha18.

[2020-08-14 07:22] harsh-9in commented on #18
Yeah sure @swapniltripathi123  :)

[2020-08-14 07:28] harsh-9in commented on #14
I will merge it after 15 august as the contribution period starts from 16 Aug.
How will you add that delete button for deleting before that page feature does not merge in master?
@Ahana001

[2020-08-14 07:51] harsh-9in commented on #9
We are creating different ui for different UI parts so I am closing this issue.
@raksha009  you can check out those issues :)

[2020-08-14 07:51] #9 closed

[2020-08-14 08:45] swapniltripathi123 commented on #11
![Homepageui wireframe](https://user-images.githubusercontent.com/57709091/90231327-a3735180-de38-11ea-951c-ee1bc69c1366.PNG)

[2020-08-14 18:25] Kajol-Kumari opened #23 "[Feature] View Profile for normal Users"
Feature Request:
The users should be able to view the profile of the person who has created the blog by clicking on their name as being shown in the attached screenshot below:

Screenshot:
![imageedit_3_9993364021](https://user-images.githubusercontent.com/44888949/90281064-96328300-de89-11ea-8128-39a34f750814.gif)

[2020-08-14 18:32] Kajol-Kumari opened #24 "[Feature] Like the post Feature"
Deliverables:

- [ ] Backend API for keeping the record of likes of the post.

- [ ] Frontend UI to like the post on the Blog card.

[2020-08-14 18:34] Akshi149 commented on #23
I would like to work on this issue. Please assign it to me.

[2020-08-14 18:41] Kajol-Kumari commented on #23
sure @Akshi149 You can work on this :)

[2020-08-14 18:45] Kajol-Kumari opened #25 "[Feature] Edit Profile"
Account Holder should be able to edit his/her profile details.

Deliverables:

- [ ] Backend API for editing profile details.

- [ ] Frontend changes on the UI for the Feature.

[2020-08-14 19:23] Akshi149 commented on #25
Are we supposed to make a separate template for editing profile?

[2020-08-15 03:11] ritiksoni00 commented on #17
@raksha009  can we Do it together!  If it is possible???

[2020-08-15 03:34] ritiksoni00 commented on #24
any Resources {i search it but....}??  i don't know anything About it but want to know...

[2020-08-15 03:38] ritiksoni00 commented on #6
i thing there you should assign me???  if its important???

[2020-08-15 03:58] ymaheshwari1 commented on #24
I am interested in working on this issue.

[2020-08-15 03:59] ymaheshwari1 commented on #25
I am interested in working on this issue.

[2020-08-15 05:16] AkM-2018 commented on #24
https://stackoverflow.com/questions/15407985/django-like-button
https://www.youtube.com/watch?v=VoWw1Y5qqt8
https://www.youtube.com/watch?v=PXqRPqDjDgc

I would like to work on this if you're not interested @ritiksoni00. Pls comment if you're not.

[2020-08-15 05:23] Swarnimashukla commented on #11
@swapniltripathi123  good work , can you create footer like we see on websites  and arrange elements as currently it has all elements but doesn't give a look of complete website . Wireframes are blueprints of exact website so it is important to take care of every small detail .

[2020-08-15 05:32] ymaheshwari1 commented on #11
@Swarnimashukla I am working on designing the wireframe, as it is assigned to me

[2020-08-15 05:33] Kajol-Kumari commented on #25
Yes @Akshi149, we will need to have a separate template for allowing the users ro edit their details. @ymaheshwari1 I am assigning this to you as @Akshi149 already have 2 issues assigned to her.

[2020-08-15 05:35] ymaheshwari1 commented on #25
ok @Kajol-Kumari

[2020-08-15 05:53] Swarnimashukla commented on #11
@ymaheshwari1  yes due to some confusion swapnil tripathi completed this issue so just for this one issue we are considering both contributions and scores will be awarded to both of you. We have shared guidelines in group as well that nobody works on any issue without getting assigned .

[2020-08-15 09:38] swapniltripathi123 commented on #11
yes sure , I will do that @Swarnimashukla ma'am.

[2020-08-15 09:47] swapniltripathi123 commented on #11
@ymaheshwari1 I'm sorry buddy for this . I didn't read the instructions before,,,my bad . I found out later that there is a "assignees" procedure .

[2020-08-15 10:01] ymaheshwari1 commented on #11
@swapniltripathi123 No problem. I was just confirming the things.

[2020-08-15 13:16] Akshi149 commented on #23
@Kajol-Kumari on clicking should it redirect to the profile page or show the profile when we simply hover?

[2020-08-15 13:23] itsarjun12 commented on #17
i also want to work on this.

[2020-08-15 14:21] ritiksoni00 commented on #17
What about this
![image (26)](https://user-images.githubusercontent.com/47344024/90314346-b49f8980-df30-11ea-81bd-8e7e0a5a706f.png)
![image (25)](https://user-images.githubusercontent.com/47344024/90314348-b8331080-df30-11ea-8139-2f15e8538b40.png)

[2020-08-15 14:43] itsarjun12 commented on #17
![Screenshot (38)](https://user-images.githubusercontent.com/46817093/90314753-c898ba80-df33-11ea-93fd-6c3a886ed133.png)
What about this ?

[2020-08-15 14:53] itsarjun12 commented on #17
![Bloglogo](https://user-images.githubusercontent.com/46817093/90314952-2974c280-df35-11ea-9f9b-884814101ca4.png)
Png format.

[2020-08-15 14:54] itsarjun12 commented on #17
I hope this will like it.

[2020-08-15 15:01] itsarjun12 commented on #17
@Swarnimashukla ma'am please let me know how is it ?

[2020-08-15 15:56] Swarnimashukla commented on #17
@ritiksoni00  good work you can make pr with second design , Create a separate branch name it resources and make pr in that .

@itsarjun12 I liked your concept my suggestion would be to use complete B letter and can add a pencil with white color and shades like you already provided in design pencil or pen might look more relatable to blogging .

[2020-08-15 16:25] ritiksoni00 commented on #24
@AkM-2018 I'm interested I want to work as I'm a beginner so if it is possible that we can work together?? @Kajol-Kumari  Please suggest us What should we do???

[2020-08-15 16:27] ritiksoni00 commented on #24
Thank you for this @AkM-2018
will I able to solve this issue via these resources ???

[2020-08-15 16:29] ritiksoni00 commented on #17
Here Is Another One :-
![Annotation 2020-08-15 214729](https://user-images.githubusercontent.com/47344024/90316822-790dbb00-df42-11ea-836a-28d3c7a94821.png)
i think it is better!!??

[2020-08-15 16:32] AkM-2018 commented on #24
You need to know how to work with django, some basic knowledge. Also some basic html.
You can then follow the vid. It will be straight forward then.

[2020-08-15 16:41] pvalesha commented on #18
I WANT TO WORK ON THIS ISSUE

[2020-08-15 17:04] Kajol-Kumari commented on #24
Hey @ritiksoni00 as you already have two issues assigned to you, I am assigning it to @AkM-2018.

[2020-08-15 17:29] itsarjun12 commented on #17
![logo3](https://user-images.githubusercontent.com/46817093/90317916-4071df80-df4a-11ea-92b1-27e8cb54834e.png)
I tried to add a pencil but I didn't get proper color what kind of I want to specially black and it will be very tough to add a logo because it will be draw and I don't know drawing in photoshop because I can mold designs like paper cut so I tried to give a look like pen or pencil through

[2020-08-15 17:31] neha07kumari commented on #17
I would like to work upon this issue

[2020-08-15 17:31] neha07kumari commented on #17
Please assign me

[2020-08-15 17:31] itsarjun12 commented on #17
It's pointed shade is indicating a pen point so we can consider as pen and I also added a full "B" what you had said ma'am.

[2020-08-15 17:58] Kajol-Kumari opened #26 "[Enhancement] Redirect on Home page after logging out"
Currently we are using a separate template for logOut page [this one](https://github.com/harsh-9in/Blogger/blob/master/mysite/users/templates/user/logout.html) which seems quiet unneccesary.

Deliverables:

- [ ] Remove the [logOut template](https://github.com/harsh-9in/Blogger/blob/master/mysite/users/templates/user/logout.html)

- [ ] Redirect to home page after user logs out of the site.

[2020-08-15 18:21] diyajaiswal11 commented on #26
@Kajol-Kumari  I'm interested in solving this issue. Please assign this to me.

[2020-08-15 18:35] Himanshu44626748 commented on #26
I would like to work on this. Please assign me.

[2020-08-15 18:43] ritiksoni00 commented on #24
hahaha ! It's not like I want to assigned me for all the issues i just want to try new challenges

[2020-08-15 18:44] ritiksoni00 commented on #24
Thankyou @AkM-2018

[2020-08-15 18:55] itsarjun12 commented on #17
![logo5](https://user-images.githubusercontent.com/46817093/90319563-f17e7700-df56-11ea-90a0-ded52d21a4c8.png)
Try this.

[2020-08-15 18:57] ritiksoni00 commented on #17
Please @Swarnimashukla,  @itsarjun12 is showing their work please Merge His Pr First!

[2020-08-15 19:01] Swarnimashukla commented on #17
@itsarjun12  I find previous one better , @ritiksoni00, @itsarjun12   we also need to look for size of logo and how it looks on a website , as you can see github logo it takes a small portion of website so need to take care of that as well with very broad logo designs when minimized it doesn't look good . Check for logo design on dribbble and [behance](https://www.behance.net/search?search=logo%20

[2020-08-15 19:15] Kajol-Kumari commented on #26
Hey @Himanshu44626748 please look for the other opened issues or wait for the other issues to be opened as we need to follow FCGS :)

[2020-08-15 19:23] Joshitha18 opened #28 "[Feature] Blog Archieve"
Implement Yearly/monthly Blog archieve. The title redirects to the post details

[2020-08-15 19:24] Joshitha18 commented on #28
Can I work on it @harsh-9in

[2020-08-15 19:42] itsarjun12 commented on #17
![Screenshot (41)](https://user-images.githubusercontent.com/46817093/90320287-88e6c880-df5d-11ea-8440-33963f895e02.png)
![Screenshot (39)](https://user-images.githubusercontent.com/46817093/90320289-8ab08c00-df5d-11ea-9731-b022c0b520aa.png)
![Screenshot (40)](https://user-images.githubusercontent.com/46817093/90320290-8b492280-df5d-11ea-8df7-401e303ce53b.png)
All my experiments with this logo.

[2020-08-15 19:51] itsarjun12 commented on #17
![Screenshot (42)](https://user-images.githubusercontent.com/46817093/90320409-d283e300-df5e-11ea-896c-ea7a23c43b5b.png)
One more left.

[2020-08-15 20:07] itsarjun12 commented on #17
![logo6](https://user-images.githubusercontent.com/46817093/90320694-fcd6a000-df60-11ea-8927-2f0e34a538b4.png)
After applying all grey shades and strokes. It looks like this.

[2020-08-15 20:17] itsarjun12 commented on #17
![Screenshot (43)](https://user-images.githubusercontent.com/46817093/90320884-66a37980-df62-11ea-9c45-d581264ee2b9.png)

[2020-08-15 20:17] itsarjun12 commented on #17
Plan grey shade.

[2020-08-15 20:19] itsarjun12 commented on #17
Check every logo in desktop screen then you will see proper clarify and difference.

[2020-08-15 20:30] itsarjun12 commented on #17
I will try tommorow with new start if I get something creative then I will share it with you because I haven't before use Photoshop and this is my first time so I don't know much idea but atleast we can try some browsing and youtube video can help.

[2020-08-16 03:36] ymaheshwari1 commented on #11
Please review the below wireframe for the Home Page and provide your feedback on the same @harsh-9in @Swarnimashukla @Kajol-Kumari

![image](https://user-images.githubusercontent.com/41404838/90325943-a76db380-df9f-11ea-8541-87d2d1f4b38a.png)

[2020-08-16 03:55] Swarnimashukla commented on #11
@ymaheshwari1

✨Its awesome, good work .You have covered all major components ✨

My suggestions would be :

1. Keep search bar in header only
2. In  place of search bar include a slider which shows top trending blogs , blog of the day etc.
3. In blog area , include like dislike ,comment option ,  it will help reader give his reviews , reactions , suggestions  and share via social media option so t

[2020-08-16 04:06] ymaheshwari1 commented on #11
@Swarnimashukla
Thanks for your suggestions. I will work on them.
For the 4th point, the newsletter component is inside the footer only but I have changed its background-color so that it will look like a separate action and thus will drive the user's mind towards it.

[2020-08-16 06:18] Swarnimashukla opened #31 "Design a wireframe for dashboard page"
Task

You are supposed to create a dashboard page for website that user can access after logging in and check for stats.

**Features**

We can add following features ondashboard but not restricted to these you can use your own creativity .

1. Number of blogs user has written
2. Top featured blog by user
3. Total stars of that particular user( as blogs have reactions and according to quality stars

[2020-08-16 06:28] jivthesh opened #33 "License not added"

[2020-08-16 06:28] jivthesh commented on #33
@harsh-9in I would like to work on this issue ?

[2020-08-16 06:29] jivthesh opened #34 "COC not added to project"

[2020-08-16 06:29] jivthesh commented on #34
@harsh-9in I would like to work on this issue

[2020-08-16 06:33] harsh-9in commented on #33
Yeah @jivthesh, You can Work on this issue.

[2020-08-16 06:35] harsh-9in commented on #34
@jivthesh  COC is already done but not merged till now so I am closing this issue.

[2020-08-16 06:35] #34 closed

[2020-08-16 06:51] jivthesh commented on #33
#33 Issue solved

[2020-08-16 07:06] swapniltripathi123 commented on #31
I want to work on this issue

[2020-08-16 07:10] Swarnimashukla commented on #31
Hey @swapniltripathi123  currently you are assigned to two issues so you need finish those works first then I will assign this to you

[2020-08-16 07:13] ymaheshwari1 commented on #11
@Swarnimashukla Updated the wireframe for the Home page.

![image](https://user-images.githubusercontent.com/41404838/90328913-ffb3ae00-dfbd-11ea-963b-df18f1fc685f.png)

[2020-08-16 07:15] ymaheshwari1 commented on #18
Please have a look on the below wireframe for the Community Page @swapniltripathi123 @harsh-9in @Kajol-Kumari

![image](https://user-images.githubusercontent.com/41404838/90328939-35f12d80-dfbe-11ea-9f85-1ca7b8438af1.png)

On hovering the card, the logo will be removed and the detail about the community will be displayed, like the 6th card

[2020-08-16 07:26] Swarnimashukla commented on #11
@ymaheshwari1  This looks good to me , you can make a pr for this issue now .

[2020-08-16 07:32] Swarnimashukla commented on #17
@itsarjun12  sure take some time look for inspirations and then come up with design .

Happy learning 🙌

[2020-08-16 07:40] Swarnimashukla commented on #18
@ymaheshwari1  include numbers as well for follow it creates a good impact and a deciding factor for anyone who wants to join

<img width="121" alt="follow" src="https://user-images.githubusercontent.com/30214391/90329355-c3824c80-dfc1-11ea-8cfd-60e894ff06e5.PNG">

[2020-08-16 09:17] raksha009 commented on #17
![blogger](https://user-images.githubusercontent.com/57195964/90331046-70af9180-dfcf-11ea-94e0-9c29d6a85acf.png)

![blogger1](https://user-images.githubusercontent.com/57195964/90331052-760cdc00-dfcf-11ea-8c95-34338e35b2b2.png)

[2020-08-16 09:20] raksha009 commented on #17
![Light Salmon Simple Industrial Logo](https://user-images.githubusercontent.com/57195964/90331102-c5530c80-dfcf-11ea-97d4-f8fdc315508e.gif)
![Blogger Logo](https://user-images.githubusercontent.com/57195964/90331105-c71cd000-dfcf-11ea-898f-8ffbc334789e.png)

[2020-08-16 09:20] raksha009 commented on #17
![Light Salmon Simple Industrial Logo](https://user-images.githubusercontent.com/57195964/90331112-d00da180-dfcf-11ea-9658-a7ac9f61c013.gif)

[2020-08-16 09:22] raksha009 commented on #17
I have created these. Please have a look @Swarnimashukla

[2020-08-16 09:28] raksha009 commented on #17
![blogger11](https://user-images.githubusercontent.com/57195964/90331321-fda71a80-dfd0-11ea-8344-77a7b1b36738.png)

[2020-08-16 09:29] raksha009 commented on #17
![blogger11](https://user-images.githubusercontent.com/57195964/90331324-04ce2880-dfd1-11ea-8474-9821766748db.png)

[2020-08-16 09:48] ymaheshwari1 commented on #18
![image](https://user-images.githubusercontent.com/41404838/90331622-a35b8900-dfd3-11ea-86aa-67e9a898b90f.png)

Updated wireframe for the community page @Swarnimashukla @harsh-9in

[2020-08-16 09:59] itsarjun12 commented on #17
@raksha009 great, you have made very creative designs, I inspired you from.  all the best.

[2020-08-16 10:25] itsarjun12 commented on #17
![newone](https://user-images.githubusercontent.com/46817093/90332229-d3595b00-dfd8-11ea-9bc4-8d4b996bc137.png)

[2020-08-16 10:25] Swarnimashukla commented on #17
@raksha009  well done ✨🙌 I love all of your designs, just with the first design having a book can you change color of text as with book it looks little dull can we have a little bright color in that particular design  . rest all designs are perfect 🌟

[2020-08-16 10:28] Swarnimashukla commented on #17
@itsarjun12  awesome , make a folder with this last design and very first design you shared , folder name  -  logo_yourname make a pr with same  🌟

[2020-08-16 11:01] raksha009 commented on #17
Yeah @Swarnimashukla , I tried changing the font and color of first one ... but it wasn't giving that cool aesthetics.. so lets ignore that one.😅

[2020-08-16 11:05] Swarnimashukla commented on #17
@raksha009  all right then we are good to go, make a folder with all designs,   keep everything in a folder name - logo_yourname make a pr with same 🌟

[2020-08-16 11:52] ManishShah120 opened #39 "[Feature] Add a Search Bar"
Currently, the *Home Page* of this App doesn't contain any searching option throughout all the posted Blog Posts, So what if any user wants to read blog posts according to his or her interests only? So,
I am thinking of adding a **`Search Card`** feature where any user can search through all the blog posts, and that would return only those blogs which matches to the user's **`search query`**.

[2020-08-16 11:53] ManishShah120 commented on #39
I am interested in working on this issue, Kindly assign me with the required tags.

[2020-08-16 12:09] itsarjun12 commented on #17
@Swarnimashukla ma'am, I have done it. sorry, for the late response ma'am, I am not much aware of git commands so understanding of git takes my time but don't worry, I will be good in this soon but thank you for your patience.

[2020-08-16 12:59] #6 closed

[2020-08-16 13:05] harsh-9in opened #42 "[Feature] Login via email"
**Is your feature request related to a problem? Please describe.**
Currently user can use only username to login. I want to add feature of option of login using email also

[2020-08-16 13:21] #2 closed

[2020-08-16 13:26] Kajol-Kumari commented on #39
Hey @ManishShah120 please keep it on the header for now. We will shift that after the home page UI design is prepared.

[2020-08-16 13:30] ManishShah120 commented on #39
Okay @Kajol-Kumari

[2020-08-16 14:36] Swarnimashukla commented on #17
No Issues @itsarjun12  , and great work guys keep going .. lets see  what @neha07kumari  comes up with, Bar has been raise quite high now 🙌

[2020-08-16 15:06] #12 closed

[2020-08-16 15:19] Akshi149 opened #43 "[FEATURE] "forgot password" functionality in login page"
**Is your feature request related to a problem? Please describe.**
Currently, there is no option for resetting the password in case the user forgot it.
Add the "forgot password" functionality via sending mail at registered email-id to reset it.

[2020-08-16 15:20] Akshi149 commented on #43
@harsh-9in can I work on this issue?

[2020-08-16 15:20] harsh-9in commented on #43
yeah sure @Akshi149 :)

[2020-08-16 15:29] nooras commented on #42
Hey can I do this ? Please assign me Thanks :)

[2020-08-16 15:34] harsh-9in commented on #42
yeah sure @nooras

[2020-08-16 15:34] nooras commented on #31
Hello maam Can i do this ? I am interested in UI too. Also I want to know can I use colors or only you need black and white wireframes ? @swapniltripathi123

[2020-08-16 15:46] Swarnimashukla commented on #31
@nooras  yes you can work on this issue and  we haven't discussed color palette of complete website yet , so maybe initially you can create basic wireframe or if you want you can use color as well no issues .

[2020-08-16 15:47] harsh-9in commented on #14
@Ahana001 have you made pr?

[2020-08-16 15:54] Ahana001 commented on #14
I am working on it!!

[2020-08-16 15:55] Swarnimashukla opened #45 "Discussion regarding color palette and font to be used in website"
**Is your feature request related to a problem? Please describe.**
Discussion regarding color palette and font for "Blogger"

**Describe the solution you'd like**
Provide with appropriate color Palette  and font pairing which could be used for a  blogging website

**Additional context**
You can look for following link to get an idea

For font-pairing try these:

1. https://typespiration.com/design

[2020-08-16 16:19] harsh-9in commented on #14
Ok take your time.

[2020-08-16 18:05] neha07kumari commented on #17
@Swarnimashukla  maam how is this looking . This was my first time i tried a bit ,changes are welcomed from anyone .
![Screenshot (57)](https://user-images.githubusercontent.com/47255445/90340915-d78e7400-dfea-11ea-9261-2f116ada2cb9.png)

[2020-08-16 18:28] Joshitha18 opened #46 "Add Social Authentication"
Feature to allow users to sign in via their Facebook, Instagram accounts..,

[2020-08-16 18:29] Joshitha18 commented on #46
Can I work on this issue @harsh-9in

[2020-08-16 18:30] Joshitha18 commented on #28
@harsh-9in Can you check this and add labels?

[2020-08-16 21:40] raksha009 commented on #45
I think the color pallet and the font should match with the logo decided for Blogger. This would help keep the project homogeneous.

[2020-08-17 03:32] Swarnimashukla commented on #17
@neha07kumari  Hey it looks good , but maybe because of gradient you used your text styling is merging with background , try using contrast colors or use a different gradient style

[2020-08-17 03:40] gupta-niharika commented on #14
could i work on this issue??

[2020-08-17 04:04] Swarnimashukla commented on #18
@ymaheshwari1  awesome, we are good to make pr with this wireframe 👍

[2020-08-17 04:04] swapniltripathi123 commented on #11
![HPUWPNG](https://user-images.githubusercontent.com/57709091/90356293-aeaec300-e06c-11ea-9c8e-1948814de074.PNG)

plzz review this .

[2020-08-17 04:19] Swarnimashukla commented on #11
@swapniltripathi123  good work , we can go for pr with this wireframe now ✨

[2020-08-17 04:22] ritiksoni00 opened #48 "Should make a new CONTRIBUTING.MD file"
**Is your feature request related to a problem? Please describe.**
README,md  file has Contribution Guidelines which is not good I thing!

**Describe the solution you'd like**
ill create a separate File for this

[2020-08-17 04:31] Swarnimashukla opened #49 "Design a wireframe for a particular community page"
**Task**

You are supposed to expand a community from communities page . Our flowchart goes like this
Home page -> communities -> selected community page
(if this is your first wireframe issue refer to #18 for previous designs)

**Features**

We can add following features on website but not restricted to these you can use your own creativity .

1. Different articles present within that community
2

[2020-08-17 04:50] raksha009 commented on #17
When will our PRs get reviewed !? @Swarnimashukla

[2020-08-17 04:50] raksha009 commented on #45
Plz assign me this task @Swarnimashukla

[2020-08-17 05:20] ymaheshwari1 commented on #45
I think we can go for "Roboto" for the blog titles and "Open Sans" for the blog content.
"Roboto Condensed" or "Oswald" for the other small headings like Author name, category, etc.
And for the links in the header and footer, we can go for "PT Serif"

[2020-08-17 05:21] swapniltripathi123 commented on #18
![community](https://user-images.githubusercontent.com/57709091/90359800-81b3dd80-e077-11ea-9fbb-318761dbbe59.PNG)

Plzz review this.

[2020-08-17 05:23] ymaheshwari1 commented on #45
For a primary color, we can think of using Purple shade "#9C27B0".

[2020-08-17 05:28] swapniltripathi123 commented on #18
![Comm](https://user-images.githubusercontent.com/57709091/90360164-8927b680-e078-11ea-8525-04ee49038530.PNG)

plzz review it.

[2020-08-17 06:38] #26 closed

[2020-08-17 06:41] harsh-9in commented on #46
Yeah, sure @Joshitha18 :)

[2020-08-17 07:26] sayashchaudhary commented on #48
i can do it

[2020-08-17 08:08] neha07kumari commented on #17
![Screenshot (59)](https://user-images.githubusercontent.com/47255445/90373031-da2bb080-e060-11ea-8c3f-e3fb7b193303.png)

[2020-08-17 09:13] nooras commented on #45
# Color palete for Bloger project @Swarnimashukla
![WhatsApp Image 2020-08-17 at 14 40 42](https://user-images.githubusercontent.com/30138146/90379126-ee3ed480-e097-11ea-8417-c785d2d2f26a.jpeg)

[2020-08-17 11:28] ymaheshwari1 commented on #45
@harsh-9in @Swarnimashukla @Kajol-Kumari
I think we can also discuss about another name for the project as there is already a blogging website named "Blogger"

[2020-08-17 11:30] manikasharma09 opened #51 "Addition of speech to text feature like listens to you and converts it to text similarly."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-17 11:33] ymaheshwari1 commented on #51
@manikasharma09 You need to provide the description of your issue and other details by updating the content of the issues template. You can refer #45

[2020-08-17 12:08] kritikaparmar-programmer commented on #8
I want to work in this issue.

[2020-08-17 12:16] shraddhavp commented on #49
Would like to take the issue

[2020-08-17 12:20] nooras commented on #8
Hey @kritikaparmar-programmer task is already done...

[2020-08-17 12:32] Swarnimashukla commented on #45
:😁 That's a trouble , anyways its @harsh-9in  decision whether he wants to change project name as of now or not , anyways we can skip this for now and use whatever logo we have made because it won't affect rest of the web dev process.

[2020-08-17 12:35] harsh-9in commented on #45
@ymaheshwari1 plz suggest any good name that suits this project.

[2020-08-17 12:37] Swarnimashukla commented on #45
Logo color can have slight change later , deciding it right now might be difficult ,

Also @ymaheshwari1 @nooras @raksha  we will have dark theme as well for website .
@nooras  I like this color palette you suggested , lets see what others think .  Do share palette here

[2020-08-17 13:01] neha07kumari commented on #17
@Swarnimashukla  Please have a look to the above logo.

[2020-08-17 13:17] ymaheshwari1 commented on #45
I am sharing two different Color palettes @Swarnimashukla @harsh-9in @Kajol-Kumari

![image](https://user-images.githubusercontent.com/41404838/90400292-e2640a00-e0b9-11ea-8cdc-6fdc98cb68b3.png)

![image](https://user-images.githubusercontent.com/41404838/90400421-14756c00-e0ba-11ea-9ebc-a15140e16b92.png)

[2020-08-17 13:40] Swarnimashukla commented on #17
@neha07kumari  this looks nice 🙌

[2020-08-17 15:45] nooras commented on #31
# Dasboard of users
 - Checkout @Swarnimashukla ... If anything needed let me know. I just tried 😅
![Dashboard](https://user-images.githubusercontent.com/30138146/90415381-a1c2bb80-e0ce-11ea-8e42-b00ab9189967.png)

[2020-08-17 16:45] Ahana001 commented on #14
![Screenshot (77)](https://user-images.githubusercontent.com/50478681/90421457-0e41b880-e0d7-11ea-9f22-8f384dc4831c.png)
![Screenshot (78)](https://user-images.githubusercontent.com/50478681/90421464-10a41280-e0d7-11ea-9a1c-94161e6fa398.png)

[2020-08-17 16:48] neha07kumari commented on #17
@Swarnimashukla  maam now can i go for the pull request?

[2020-08-17 17:10] ymaheshwari1 opened #55 "Update the "Setting Up Project" section in the README.md file"
**Describe the bug**
While setting up the project we need to include a step to create a virtual environment and then the user has to execute the requirements.txt file

**Additional context**
This will maintain a different environment for the project and the project dependencies will not affect other projects.

[2020-08-17 17:10] ymaheshwari1 commented on #55
I am interested in working on this.

[2020-08-17 17:27] ritiksoni00 commented on #48
@sayashchaudhary  I'm also a Participates !! sorry

[2020-08-17 17:30] Swarnimashukla commented on #17
sure @neha07kumari

[2020-08-17 17:33] Swarnimashukla commented on #18
@swapniltripathi123  This looks good but we needed a page where all communities can be shown which user can follow so community names being main part of page .Maybe we can show community in upper half of body like horizontal slides and below that you can have these posts as you have right now .

[2020-08-17 17:41] Swarnimashukla commented on #31
@nooras I really like this 😍  , there can be few changes like header could have actual icons , footer is missing , but I would say for a wireframe this looks nice to me , we can be more specific during ui designing after wireframe part is done .

Looking forward for your work in upcoming UI issues  :🙌✨✨

You can go for pr 👍

[2020-08-17 19:14] harsh-9in commented on #28
Go ahead @Joshitha18 :)

[2020-08-17 19:17] harsh-9in commented on #51
@manikasharma09 plz clarify your issue.

[2020-08-17 19:20] harsh-9in commented on #55
Go ahead @ymaheshwari1

[2020-08-17 21:44] raksha009 commented on #45
how about these 2!?
![Color Hunt Palette 196303](https://user-images.githubusercontent.com/57195964/90447452-f848ed80-e100-11ea-8ff6-64cedfd9f3df.png)
![Color Hunt Palette 196338](https://user-images.githubusercontent.com/57195964/90447457-fa12b100-e100-11ea-8df0-67996ecf6f8f.png)

[2020-08-18 03:31] Ahana001 opened #56 "Order blog Posts by date"
**Describe the solution you'd like**
New post will place at top!!

In our project, a new post comes to the bottom. So add functionality to a post ordered by date.

[2020-08-18 04:53] kritikaparmar-programmer commented on #56
I want to work on this issue..Please assign me

[2020-08-18 04:57] Ahana001 commented on #56
I can do that. can I work on it?? Please assign me @harsh-9in

[2020-08-18 05:39] Ahana001 commented on #56
Hey @kritikaparmar-programmer  task is already done...

[2020-08-18 05:42] AkM-2018 commented on #24
Just to notify...

Since the individual blog posts pull request is in process, I've put the like button directly on the home page(for now).

![like_button](https://user-images.githubusercontent.com/50191787/90473949-cefc8180-e141-11ea-97bb-d27d56127aee.JPG)

The user can like a post only when logged in. Else he is redirected to the login page.

One problem I'm facing is, whenever someone likes the

[2020-08-18 05:43] Ahana001 commented on #56
please add a label on it. @harsh-9in

[2020-08-18 07:08] ymaheshwari1 opened #61 "Adding the informative messages for the user"
**Describe the bug**
When a user is logging out or logging in, there is no message displayed to the user whether the action is successfully performed or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Log In to your account
2. You will be redirected to the Home Page but no message is displayed to the User about the activity.
3. Log Out of your account.
4. You will be redirected to the H

[2020-08-18 07:09] ymaheshwari1 commented on #61
I am interested in working on this.

[2020-08-18 07:13] #39 closed

[2020-08-18 07:26] #25 closed

[2020-08-18 08:22] harsh-9in commented on #61
@ymaheshwari1  whare do you want to show the message?

[2020-08-18 08:30] ymaheshwari1 commented on #61
@harsh-9in As the User is redirected to the Home screen, so we can show the message on the Home Screen

[2020-08-18 08:47] shraddhavp commented on #56
is the issue yet open?

[2020-08-18 09:00] #8 closed

[2020-08-18 09:13] ManishShah120 opened #62 "[Feature] Add Pagination"
**Is your feature request related to a problem? Please describe.**
- Currently, all the blog posts are lined up one after another, which may incur in the home page becoming longer and longer with time and more number of posts being posted in the future.

**Describe the solution you'd like**
- So, to solve this issue, *pagination* feature can be added with which a fixed number of posts will be show

[2020-08-18 09:15] ManishShah120 commented on #62
Hey, I am interested to work on this issue. Can I start to work.
@harsh-9in , @Kajol-Kumari

[2020-08-18 09:41] shraddhavp commented on #17
want to work on issue

[2020-08-18 09:41] shraddhavp commented on #17
![Blogger logo](https://user-images.githubusercontent.com/42699578/90497795-1f390b00-e165-11ea-8909-64c4a390638b.png)
this the logo

[2020-08-18 09:42] shraddhavp commented on #17
please do let me know how it is @Swarnimashukla  mam

[2020-08-18 09:48] itsarjun12 commented on #45
This can be matched with logos that have made because the theme should be conserved.
https://colorhunt.co/palette/191933

[2020-08-18 10:01] Kajol-Kumari commented on #62
Hey @ManishShah120 instead of pagination, can you please change it to left and right slider having 1/2 posts in it ? It would look better this way.
Reference: https://www.jssor.com/

\cc: @harsh-9in @Swarnimashukla

[2020-08-18 10:08] ManishShah120 commented on #62
I see🤔️ this would be much better than *pagination*. Okay, assign me with the required labels.

[2020-08-18 11:06] Kajol-Kumari commented on #62
@ManishShah120 please edit the issue description accordingly, I am assigning it to you.

[2020-08-18 11:41] ManishShah120 commented on #62
Is it Okay Now, @Kajol-Kumari

[2020-08-18 12:30] Swarnimashukla commented on #17
@shraddhavp its nice 👍 can you write blogger in circular form around image and keep "write your way" little closer with smaller font

[2020-08-18 12:53] shraddhavp commented on #17
yes mam @Swarnimashukla  tried to do but I think not like the way you told but something bit different
![Blogger logo1](https://user-images.githubusercontent.com/42699578/90515124-cdea4500-e17f-11ea-8cd8-55f7b3766dbb.png)

[2020-08-19 03:35] Swarnimashukla commented on #17
@shraddhavp  this looks cool 👍 good work , please make a pr for the same

[2020-08-19 04:31] Swarnimashukla commented on #45
Considering all discussion so far here are final points :

Blog title - Roboto
Blog content, body - Montserrat
Small headings - Oswald
Header, Footer - PT serif

For color palette
I liked @nooras suggestion , and  https://user-images.githubusercontent.com/41404838/90400421-14756c00-e0ba-11ea-9ebc-a15140e16b92.png

Do let me know if you @ymaheshwari1 @nooras @itsarjun12 @raksha009  agree then we wi

[2020-08-19 04:41] shraddhavp commented on #17
yes mam @Swarnimashukla  created PR

[2020-08-19 04:56] #11 closed

[2020-08-19 05:30] ymaheshwari1 commented on #49
@Swarnimashukla Have a look at the following design.

![Community - Home (1)](https://user-images.githubusercontent.com/41404838/90595752-2c103a00-e20b-11ea-9606-6e1deb32a0c0.png)

[2020-08-19 05:52] swapniltripathi123 commented on #18
@Swarnimashukla So basically I have to bring technology ,food ,etc .  in horizontal slides which is on the  left side and also have to remove "add questions" and "add answers "options also.... Right??

[2020-08-19 07:33] #14 closed

[2020-08-19 07:47] Ahana001 commented on #56
Hey @shraddhavp work is already done...

[2020-08-19 07:51] #31 closed

[2020-08-19 08:48] neha07kumari commented on #17
@Swarnimashukla maam created PR.

[2020-08-19 10:04] Swarnimashukla commented on #18
@swapniltripathi123  yes you got it now 👍

[2020-08-19 10:08] Swarnimashukla commented on #49
@ymaheshwari1  hey it look good to me ,  design wise wireframe and all elements used are perfect , just name " competition" doesn't fit it has to be quiz arena , or anything I am looking for some fun quizzes or small contests so competition name sounds too heavy for it , although it can be " challenges ".

[2020-08-19 11:55] swapniltripathi123 commented on #18
![COMMUN](https://user-images.githubusercontent.com/57709091/90631665-c2128780-e240-11ea-937f-0a58450f0ac0.PNG)

@Swarnimashukla What about this wireframe  ma'am??

[2020-08-19 12:23] ymaheshwari1 commented on #49
@Swarnimashukla I think the Challenges word is good.

![Community - Home (2)](https://user-images.githubusercontent.com/41404838/90634165-e708f980-e244-11ea-9bfc-792af3bdbbc8.png)

[2020-08-19 16:39] ymaheshwari1 opened #68 "Add project structure in the README.md file"
**Describe the bug**
There should be a project structure added to the README.MD file so that it will be easy for a new contributor to understand the project.

[2020-08-19 16:39] ymaheshwari1 commented on #68
I am interested in working on this.

[2020-08-19 18:23] Kajol-Kumari commented on #61
@ymaheshwari1 how about showing this in the form of notification?

[2020-08-19 18:26] Kajol-Kumari commented on #48
@ritiksoni00 can you please elaborate a little bit here what extra things you goona add/modify in there? (May be you can just paste here the things you are planning to add in the contribution.md file)

[2020-08-19 18:50] #23 closed

[2020-08-19 19:36] harsh-9in opened #69 "untrack db.sqlite3 file"
Currently, db.sqlite3 file is getting tracked by git and it is already present in .gitigone file.

It has to be untacked because it is creating many conflicts.

[2020-08-20 03:23] #17 closed

[2020-08-20 03:30] Swarnimashukla commented on #18
yes this will work @swapniltripathi123  go for a pr

[2020-08-20 03:32] Swarnimashukla commented on #49
@ymaheshwari1 , its good now , go for a pr

[2020-08-20 03:34] ymaheshwari1 commented on #61
@Kajol-Kumari Yes we can do that as well, we can use snackbar
https://www.w3schools.com/howto/howto_js_snackbar.asp

[2020-08-20 04:00] shraddhavp commented on #69
@harsh-9in  would like to work on the issue

[2020-08-20 04:01] shraddhavp commented on #69
@harsh-9in  would like to work on the issue

[2020-08-20 04:02] harsh-9in commented on #69
Yeah sure @shraddhavp

[2020-08-20 04:26] ymaheshwari1 opened #70 "Having error while running the project"
**Describe the bug**
When starting the server it throws an error that "cannot import name post"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project
2. Run command **python manage.py runserver**
3. See error

**Expected behavior**
The project should run without throwing any errors

[2020-08-20 04:26] ymaheshwari1 commented on #70
I am interested in working on this.

[2020-08-20 04:48] ritiksoni00 commented on #48
like contribution guidelines ... should be in this file!!

[2020-08-20 05:02] Ahana001 commented on #70
I am also interested.

[2020-08-20 07:18] Kajol-Kumari commented on #48
@ritiksoni00 please go ahead.

[2020-08-20 07:20] Kajol-Kumari commented on #61
@ymaheshwari1 please go ahead with slackbar/notification/toast message :)

[2020-08-20 07:28] Akshi149 commented on #70
@ymaheshwari1 I guess this error is because of my PR because when I created PR name of the model was "post", not "Post".o I have resolved it and will do the commit in a min.

[2020-08-20 12:00] Swarnimashukla commented on #18
@pvalesha  are you working on this issue?

[2020-08-21 02:47] Swarnimashukla opened #77 "UI design for Home page of Blogger"
**Is your feature request related to a problem? Please describe.**
UI design for Home Page of Blogger

**Describe the solution you'd like**

***UI design is exact replica of what your website will look like***

This task is connected with issue #11 check for wireframes designed for this page and create a UI design for the same using color palette and font styling (for color and font check issue #4

[2020-08-21 02:49] Swarnimashukla opened #78 "UI design for dashboard Page of Blogger"
**Is your feature request related to a problem? Please describe.**
UI design for dashboard Page of Blogger

**Describe the solution you'd like**

***UI design is exact replica of what your website will look like***

This task is connected with issue #31  check for wireframes designed for this page and create a UI design for the same using color palette and font styling (for color and font check is

[2020-08-21 02:50] Swarnimashukla opened #79 "UI design for community page of Blogger"
**Is your feature request related to a problem? Please describe.**
UI design for community Page of Blogger

**Describe the solution you'd like**

***UI design is exact replica of what your website will look like***

This task is connected with issue #18  check for wireframes designed for this page and create a UI design for the same using color palette and font styling (for color and font check is

[2020-08-21 02:53] Swarnimashukla opened #80 "UI design for community page(expanded) of Blogger"
**Is your feature request related to a problem? Please describe.**
UI design for community Page (particular page)of Blogger

**Describe the solution you'd like**

***UI design is exact replica of what your website will look like***

This task is connected with issue #49 check for wireframes designed for this page and create a UI design for the same using color palette and font styling (for color a

[2020-08-21 04:04] ymaheshwari1 commented on #80
I am interested

[2020-08-21 04:14] ymaheshwari1 commented on #77
I am interested

[2020-08-21 04:47] ymaheshwari1 commented on #79
I am interested

[2020-08-21 05:14] AdityaAshvin commented on #79
Can i do this task @Swarnimashukla ?

[2020-08-21 06:04] shraddhavp commented on #69
@harsh-9in  and @Swarnimashukla  have resolved the conflicts and solved the issue too

[2020-08-21 06:05] Swarnimashukla commented on #79
@ymaheshwari1 , you are already working on 2 issues so I am assigning it to @AdityaAshvin

[2020-08-21 06:09] AkM-2018 opened #82 "Home Page"
**Describe the bug**
Firstly, on running it shows an import error(discussed in #70). On making the changes and running the project, the layout of the home page is disturbed. Also, there are two headings for each blog.

**To Reproduce**
Steps to reproduce the behavior:
1. Fetch the master branch from harsh-9in/Blogger and merge with your local master.
2. Checkout to a branch
3. Run python manage.py

[2020-08-21 06:24] nooras commented on #78
I am interested @Swarnimashukla

[2020-08-21 06:32] Akshi149 commented on #77
I am interested

[2020-08-21 06:40] raksha009 commented on #77
I am interested

[2020-08-21 06:41] raksha009 commented on #79
I  am interested. Plz asign this task to me too.

[2020-08-21 06:52] Swarnimashukla commented on #79
@raksha009  this task is assigned on FCFS basis we don't have this issue open for all

[2020-08-21 06:54] Swarnimashukla commented on #77
@ymaheshwari1  you are already assigned 2 issues and @raksha009  as @Akshi149 commented earlier so I am currently assigning it to her .

[2020-08-21 07:08] ymaheshwari1 commented on #82
@AkM-2018 The issue have a PR once it will be merged then the project will run smoothly.

[2020-08-21 07:13] #18 closed

[2020-08-23 08:24] Kajol-Kumari opened #91 "[Enhancement] Improve Edit profile MOdal"
Current UI:
![Screenshot from 2020-08-23 13-42-58](https://user-images.githubusercontent.com/44888949/90974354-102cd100-e548-11ea-80b0-6ac0323ac973.png)

This UI should me made better and more user friendly.

[2020-08-23 08:26] Kajol-Kumari opened #92 "[Feature] Add upload Image feature in create post"
**Current UI**
Currently we don't have an option for image upload  while creating the blog.

![Screenshot from 2020-08-23 13-46-34](https://user-images.githubusercontent.com/44888949/90974414-977a4480-e548-11ea-94a3-fce5a5b32a87.png)

**Deliverable**
Add image upload feature for blog creation and display it accordingly on the UI

[2020-08-23 08:31] Kajol-Kumari opened #93 "[Bug] View profile for blog creator showing error"
**Bug Description**
View profile for blog creator throwing error .
steps for bug recreation:
1. Log In
1. Create a blog
2. Remain logged in and click on your name shown above the blog.

GIF:
![bug_view_creator_profile](https://user-images.githubusercontent.com/44888949/90974464-1ec7b800-e549-11ea-99b2-3752ea74ea3a.gif)

[2020-08-23 09:24] ManishShah120 opened #94 "[Feature] Add Slug field"
## Is your feature request related to a problem? Please describe:
1. The URL which we see at present when we are on the post detail URL is `http://127.0.0.1:8000/post/6/` which doesn't look decent.
2. Currently, the Home Page UI is displaying the entire content of the blog-post, the entire content of any blog-post should be displayed in the detailed page of that post.

## Describe the solution you

[2020-08-23 15:44] Ahana001 opened #96 "Forgot_Password throwing Error"
**Describe the bug**
It throws out the error when we enter the email.

**Screenshots**
![Forget_Password_error](https://user-images.githubusercontent.com/50478681/90982548-5fddbd80-e585-11ea-9c7c-9bb55d55d1f7.gif)

[2020-08-23 17:18] Kajol-Kumari commented on #93
Yes @ymaheshwari1 you need to get atleast one of your PR merged for taking up a new issue. sorry but we need to follow this so that everyone gets a chance to learn :)

[2020-08-23 19:27] AdityaAshvin commented on #79
![Design 2](https://user-images.githubusercontent.com/53205379/90986933-6cbdd980-e5a4-11ea-8fa8-313275e881d5.JPG)

@Swarnimashukla your views about this design. any changes to be made?

[2020-08-24 04:02] Swarnimashukla commented on #79
@AdityaAshvin it looks good , here are few changes I would suggest :

1. In header keep profile only , remove logout once user clicks on profile he can get a dropdown for it , it need not be a individual icon on header

2. Put search symbol inside search area before text and maybe reply "type a keyword" with "search here" or maybe "search communities" only because search is more common than keywor

[2020-08-24 04:22] Akshi149 commented on #96
@Kajol-Kumari @Ahana001 this issue is because email id and password need to be of the (sender)admin in the settings.py

[2020-08-24 06:15] #82 closed

[2020-08-24 07:40] Kajol-Kumari commented on #96
Hey @Akshi149 If this is the case then we should remove this hardcoding thing and instead store all the registered emails in the db and after user enters the emailID for resetting the password, it should be checked from database if that emailID exists or not and then proceed accordingly.

[2020-08-24 08:26] Akshi149 commented on #96
@Kajol-Kumari this is already being followed. The thing is either the mail is sent on console or on Gmail and in order to send it on Gmail, sender's email id is required (which will be of app owner) from whom user will receive the mail for resetting the password.

\cc: @Ahana001

[2020-08-24 08:27] Akshi149 commented on #96
Just sender's email id is to be written there

[2020-08-24 09:09] Kajol-Kumari commented on #96
@Akshi149 I see... But ideally it's should the person's emailId who want to reset the password not the app owner's email. Maybe we should work on implementing this.

\cc: @Ahana001

[2020-08-24 14:05] AkM-2018 commented on #24
@Kajol-Kumari, that was not the problem I was facing. Anyways, I've put a pull request. Lemme know the changes if any

[2020-08-24 14:19] #55 closed

[2020-08-24 14:28] Akshi149 commented on #96
@Kajol-Kumari U mean email should be send by and receive on same email id?

[2020-08-24 14:31] Kajol-Kumari commented on #96
@Akshi149 I mean that the person who wants to reset his/her password should enter his/her emailID in the forget password page and he/she will receive the main on that particular ID. Probably i am missing something here. If it's so please let me know.

[2020-08-24 14:36] Akshi149 commented on #96
@Kajol-Kumari it works like this only
I m saying that in settings.py file we need to change the EMAIL_HOST_USER and EMAIL_HOST_PASSWORD with the app owner's details so that the person who wants to change the password can get the link on his/her entered email-id from the owner

[2020-08-24 14:53] Akshi149 commented on #96
![Uploading IMG_20200824_202041.jpg…]()
This place has to be filled with owner's details

[2020-08-24 15:36] Ahana001 commented on #96
yes @Kajol-Kumari

[2020-08-24 15:40] Akshi149 commented on #96
![IMG_20200824_202041](https://user-images.githubusercontent.com/69034239/91065524-36d52f80-e64e-11ea-9ed1-511fc174e470.jpg)

[2020-08-24 15:41] Akshi149 commented on #96
In settings.py file

[2020-08-24 15:42] Akshi149 commented on #96
@Ahana001 Rest works as it suppose to be

[2020-08-25 08:20] AbhipsaGuru1012 commented on #33
Hi, is this issue still open?

[2020-08-25 18:58] Akshi149 commented on #77
![Group 3homepage](https://user-images.githubusercontent.com/69034239/91215943-ce13b300-e732-11ea-9a2d-73960fa0cc51.png)
@Swarnimashukla your views on this design. Any changes to be made?

[2020-08-26 03:23] ymaheshwari1 commented on #80
@Swarnimashukla Please have a look at the following UI
![Community - Home UI](https://user-images.githubusercontent.com/41404838/91251716-a431af00-e779-11ea-90df-c687f4c0077d.png)

[2020-08-26 04:11] BellatrixLestrangee commented on #77
Greetings @Swarnimashukla . Can I make a attempt towards this issue?

[2020-08-26 04:58] Swarnimashukla commented on #77
@Akshi149  this looks good to me , go for a pr , name your screenshot - Homepage_ui_yourname

[2020-08-26 05:00] Swarnimashukla commented on #78
@nooras  what's the update with design ?

[2020-08-26 05:05] Swarnimashukla commented on #80
It looks good , go for pr @ymaheshwari1

[2020-08-26 05:45] nooras commented on #78
Work is in progress... Will share you soon...

[2020-08-26 12:40] kritikaparmar-programmer commented on #91
Hey @Kajol-Kumari , I've one doubt. Sorry for asking late But you mentioned in the issue to improve the edit profile model but in the screen shot the profile picture thing is showing.. Can you please elaborate a bit on the issue, It would be great ..

[2020-08-26 14:49] Kajol-Kumari commented on #91
Hey @kritikaparmar-programmer in the image about you see the popup that has appeared for file upload. There you see the `file upload` option is not properly aligned. Also there is no message showing up the purpose of that dialogue box  ( which in this case should be `please select a new image` )etc.These things need to be improved and organised.

[2020-08-26 15:03] kritikaparmar-programmer commented on #91
Ok 👍

[2020-08-26 17:29] jivthesh commented on #33
@AbhipsaGuru1012 no

[2020-08-27 08:51] nooras commented on #78
### Dasboard UI done... Checkout @Swarnimashukla and let me know if any changes is required...

![FinalDashboard](https://user-images.githubusercontent.com/30138146/91418906-66638200-e870-11ea-955c-00ec7dd30a35.png)

[2020-08-28 07:29] #94 closed

[2020-08-28 12:17] shraddhavp commented on #93
@Kajol-Kumari  mam made the PR please check it

[2020-08-28 16:45] Swarnimashukla commented on #78
@nooras its good , but slight different from other pages anyways go for pr , we will change things in coding phase if required.

[2020-08-28 18:28] nooras commented on #78
What else I can do ? Ma'am ?

[2020-08-29 05:31] Swarnimashukla commented on #78
@nooras  sure , Few things I would suggest :

1. Use  background color in header as well like footer
2. Enhance font size in footer section (about , home etc) as they are not clear and difficult to read now, keep them simple not italic , its important to use familiar fonts , styles to make user friendly designs
3. Remove border from header section's terms like home , about , notification it might

[2020-08-29 05:49] shraddhavp opened #105 "Create a favicon for the site"
A favicon to the site will be good with the logo

[2020-08-29 05:49] shraddhavp commented on #105
would like to take up this issue

[2020-08-29 06:43] #92 closed

[2020-08-29 08:36] ManishShah120 opened #106 "[FEATURE] Add View Count + Read Time"
## Is your feature request related to a problem? Please describe.

1. Currently we don't have any way to check the number of times any particular blog has been viewed or the detailed page of that blog-post has been visited.

2. Also,  We can't see the approximate _Read Time_ of any specific blog.

## Describe the solution:
1. Addition of _View Count_ Feature that would be displayed in the UI.

2.

[2020-08-29 08:38] ManishShah120 commented on #106
Hay @Kajol-Kumari & @harsh-9in, I am interested to work on this Feature, can you please assign it to me with the required labels.

[2020-08-29 09:14] Kajol-Kumari commented on #105
Hey @shraddhavp thanks for the issue but we have already covered this issue [her](https://github.com/harsh-9in/Blogger/issues/17). Feel free to close this one.

[2020-08-29 09:18] shraddhavp commented on #105
ya sure @Kajol-Kumari

[2020-08-29 09:18] #105 closed

[2020-08-29 09:24] Kajol-Kumari opened #107 "[Feature] Add contributors.md"
**Feature requested**

Currently we don't have a `contributors.md` file to showcase our awesome contributors.

**Deliverable**

- [ ] Create `contributors.md` file having Contributor Details (Use Details from [here](https://github.com/harsh-9in/Blogger/graphs/contributors))

[2020-08-29 09:25] ymaheshwari1 commented on #107
I am interested in this.

[2020-08-29 09:26] Kajol-Kumari commented on #107
Hey @ymaheshwari1 you already have 3 issues on your plate so lets keep this for newbies or other contributors.

[2020-08-29 09:27] Kajol-Kumari commented on #68
@ymaheshwari1 Please go ahead with this one.

[2020-08-29 09:45] shraddhavp commented on #107
interested @Kajol-Kumari

[2020-08-29 10:37] Kajol-Kumari commented on #107
Please go ahead @shraddhavp

[2020-08-29 16:08] nooras commented on #78
![Group 4 (3)](https://user-images.githubusercontent.com/30138146/91641102-ec81f300-ea3f-11ea-984f-5fa2ade7aeb4.png)
Update done @Swarnimashukla

[2020-08-29 16:13] Swarnimashukla commented on #78
perfect @nooras  go for pr

[2020-08-29 16:23] nooras commented on #78
In static file> dashboard ui_nooras i have to put it ?

[2020-08-30 04:02] #77 closed

[2020-08-30 06:26] AkM-2018 opened #110 "Updating tests.py"
**Is your feature request related to a problem? Please describe.**
It often happens that someone adds a new feature or makes some change in the code, and it indirectly breaks another feature. Django provides tests.py to avoid such cases.

**Describe the solution you'd like**
Whenever one adds a new feature, before putting a pull request he/she should run the tests.py. If it returns passed, the new

[2020-08-30 06:26] AkM-2018 commented on #110
I would like to work on this

[2020-08-30 11:31] #107 closed

[2020-08-31 04:36] Swarnimashukla opened #112 "Code Landing/Home page of blogger"
**Is your feature request related to a problem? Please describe.**
Code home page/landing page of blogger as per new UI designs, in this issue we focus on developing front-end of website .

**Describe the solution you'd like**
For design check  issue #77
Write clean code
Follow good coding practices

**Additional context**
Use logo design as mentioned in ui
Use icons as well with home, notificatio

[2020-08-31 04:38] ymaheshwari1 commented on #112
Interested.

[2020-08-31 04:41] #80 closed

[2020-08-31 04:44] #79 closed

[2020-08-31 04:45] #78 closed

[2020-08-31 05:00] Swarnimashukla opened #113 "Code dashboard page of blogger"
Is your feature request related to a problem? Please describe.
Code dashboard page of blogger as per new UI designs, in this issue we focus on developing front-end of website.

Describe the solution you'd like
For design check issue #78 and #77 to implement similar color code and design
For graph you can use [chart.js](https://www.chartjs.org/) and google analytics
Write clean code
Follow good cod

[2020-08-31 05:04] Swarnimashukla opened #114 "Code community page of blogger"
Is your feature request related to a problem? Please describe.
Code Community page of blogger as per new UI designs, in this issue we focus on developing front-end of website.

Describe the solution you'd like
For design check issue #79  and #77 to implement similar color code and design
Write clean code
Follow good coding practices

Additional context
Use logo design as mentioned in ui
Changes ca

[2020-08-31 05:06] Swarnimashukla opened #115 "Code community page(extension) of blogger"
Is your feature request related to a problem? Please describe.
Code community  page(extension) of blogger as per new UI designs, in this issue we focus on developing front-end of website.

Describe the solution you'd like
For design check issue #80  and #77 to implement similar color code and design
Write clean code
Follow good coding practices

Additional context
Use logo design as mentioned in u

[2020-08-31 05:08] Akshi149 commented on #115
Interested

[2020-08-31 06:39] AdityaAshvin commented on #114
Can i work on this @Swarnimashukla ?

[2020-08-31 11:18] shraddhavp commented on #113
interested @Swarnimashukla

[2020-08-31 11:43] Swarnimashukla opened #117 "Create a Information architecture for website"
**Is your feature request related to a problem? Please describe.**
We need information architecture to have a clarity about website and features it provide , IA is basically  a user flow chart for website

**Describe the solution you'd like**
Make a flowchart/ IA for website
Look for all wireframe issues and ui design issues to have clarity and idea about all features we currently have  and design

[2020-09-01 11:14] shraddhavp commented on #117
interested @Swarnimashukla

[2020-09-02 10:31] shraddhavp commented on #117
![gloomap_14170aac](https://user-images.githubusercontent.com/42699578/91970579-7fb77300-ed35-11ea-915c-2b8b6a5a9ada.png)
 @Swarnimashukla   mam please check this out and let me know for changes

[2020-09-02 13:24] Swarnimashukla commented on #117
good work @shraddhavp
So here are few changes I would suggest:

1. Include about within Home page
2. Merge profile , log-in and register and make it one button like keep register then login then profile below single button
3. Diagram can be vertical as well if required

[2020-09-02 13:45] shraddhavp commented on #117
ok  will do the changes

[2020-09-02 13:52] shraddhavp commented on #117
![gloomap_ddcbd5eb](https://user-images.githubusercontent.com/42699578/91992157-6de3c900-ed51-11ea-9cca-5269bcf204a7.png)
 OR
![gloomap_6325cbf5](https://user-images.githubusercontent.com/42699578/91992262-8e138800-ed51-11ea-99fb-3568a705bbae.png)

@Swarnimashukla  mam please check it out both the images and do let me know for changes or which of the 2 is better?

[2020-09-03 05:28] ritiksoni00 commented on #48
You should warn me! @Kajol-Kumari   ABOUT THIS #107

[2020-09-03 05:28] #48 closed

[2020-09-03 05:41] ritiksoni00 opened #119 "Spell Mistake"
![Screenshot from 2020-09-03 11-08-34](https://user-images.githubusercontent.com/47344024/92075345-e8eec300-edd5-11ea-8700-08aa40e57020.png)

It's not "RITHIK"  It is "Ritik" Should remove "H"

[2020-09-03 07:40] ymaheshwari1 commented on #112
@Swarnimashukla Have a look at this.

![image](https://user-images.githubusercontent.com/41404838/92085676-c87b3480-ede6-11ea-8d8a-565a88cd1638.png)

[2020-09-03 07:46] shraddhavp commented on #117
@Swarnimashukla  mam made  the changes ,please check it and let me know
![gloomap_562fe462](https://user-images.githubusercontent.com/42699578/92086269-961e0700-ede7-11ea-9411-d2a98aa969d7.png)
 OR
![gloomap_d1a3e4f0](https://user-images.githubusercontent.com/42699578/92086307-a33af600-ede7-11ea-867e-6298a588db60.png)

[2020-09-03 10:43] Swarnimashukla commented on #117
@shraddhavp this looks good, go for pr with first image (horizontal one)

[2020-09-03 13:58] ritiksoni00 commented on #119
@harsh-9in  check this

[2020-09-03 15:47] shraddhavp commented on #117
created PR @Swarnimashukla

[2020-09-04 04:09] Kajol-Kumari commented on #119
@ritiksoni00 please don't go for opening a a PR until an issue gets assigned to you.

[2020-09-04 07:31] Akshi149 commented on #96
@Ahana001 if you are not able to do it, please assign this to me @Kajol-Kumari

[2020-09-04 11:21] ritiksoni00 commented on #119
Okay! next time  WIll Keep in mind!!

[2020-09-04 11:21] #119 closed

[2020-09-04 15:34] AdityaAshvin commented on #114
![ss1](https://user-images.githubusercontent.com/53205379/92256880-ee413000-eef1-11ea-9d5f-50d81c85aa18.JPG)
![ss2](https://user-images.githubusercontent.com/53205379/92256885-ef725d00-eef1-11ea-9b07-362880e5eda8.JPG)

@Swarnimashukla any changes to be made?

[2020-09-05 09:17] #106 closed

[2020-09-05 15:39] nooras opened #126 "Image Error of post"
**Describe the bug**
If there is no Image related to user then it shouldn't show such image error as shown in screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Click on blog post
3. See image error

**Expected behavior**
Image error shouldn't show if there is no image or show the default image... otherwise show the image of users

**Screenshots**
![Group 1 (2)](h

[2020-09-05 15:43] harsh-9in commented on #126
Go ahead @nooras

[2020-09-05 16:01] nooras opened #127 "Short bio in profile section"
**Is your feature request related to a problem? Please describe.**
Most of the blog site have short bio of bloggers(users). What they are currently is like Software Engineer , Developer etc

**Describe the solution you'd like**
There could be an input field of short bio. So, that blogger can add their short bio there. viewers can see and follow that user in future.

![Group 1 (3)](https://user-ima

[2020-09-05 16:03] nooras commented on #126
Hey you forgot to tag assign... :P

[2020-09-05 16:03] harsh-9in commented on #127
Go ahead @nooras 👍

[2020-09-05 16:15] nooras commented on #126
Hey the image is of user not of blog... so sorry for that...

[2020-09-05 16:17] harsh-9in commented on #126
For that it should show the default image... Is it not showing ?@nooras

[2020-09-05 16:18] harsh-9in commented on #126
Check once by creating a new user account.

[2020-09-05 16:18] nooras commented on #126
Yes it shows the error after updating user image from backend it shows the image.  I also updated the description
![Screenshot from 2020-09-05 21-48-02](https://user-images.githubusercontent.com/30138146/92309249-84905700-efc1-11ea-897e-6e343e53a969.png)

[2020-09-05 16:22] nooras commented on #126
So can I do this now na ? so sorry for mistake... @harsh-9in

[2020-09-05 16:22] harsh-9in commented on #126
Yeah sure you can work on the issue 👍

[2020-09-06 16:08] nooras opened #130 "Error while click on same blog of same login user"
**Describe the bug**
Error occurred while clicking on same login user of same blog

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login page
2. Do login (let as admin)
3. Go to home page
4. Click on same blog user of same login user (let say blog written by admin)
5. See error

**Expected behavior**
Error shouldnt come while clicking on blog user on home page

**Screenshots**
Note : W

[2020-09-06 16:11] harsh-9in commented on #130
Go ahead @nooras 👍

[2020-09-06 17:52] Akshi149 opened #132 "changes in post create UI"
**Describe the bug**
The post create page is not the same as other pages.

**Expected behavior**
Changing the page template to get it to match with other pages' style

**Screenshots**
Current view of the page
![127 0 0 1_8000_post_create_ - Google Chrome 06-09-2020 23_14_23](https://user-images.githubusercontent.com/69034239/92331807-dd7def00-f096-11ea-9a5a-447f05a13ef6.png)
 Want to work on this

[2020-09-06 17:57] harsh-9in commented on #132
so u wanna change the UI of the create post template?

[2020-09-06 18:09] Akshi149 commented on #132
yeah changing it to look similar as other pages' UI with few changes

[2020-09-06 18:11] harsh-9in commented on #132
go ahead @Akshi149  :)

[2020-09-06 18:13] harsh-9in commented on #110
go ahead @AkM-2018 :+1:

[2020-09-07 07:59] shraddhavp commented on #130
@nooras  and @harsh-9in  this is the same issue as in #93

[2020-09-07 08:20] nooras commented on #130
Thank you for informing @shraddhavp :) I will close this...
Hey @harsh-9in I am closing this issuse coz it is already done by @shraddhavp ... sorrrryy for inconvenience  :)

[2020-09-07 08:20] #130 closed

[2020-09-07 08:22] ymaheshwari1 commented on #112
@harsh-9in @Swarnimashukla Have a look on the above UI.

[2020-09-07 18:08] Ahana001 commented on #96
@Kajol-Kumari assign this issue to @Akshi149

[2020-09-08 05:30] #117 closed

[2020-09-08 05:32] #93 closed

[2020-09-08 05:42] #68 closed

[2020-09-08 05:43] #61 closed

[2020-09-08 06:01] shraddhavp opened #134 "Creating a contributing.md file"
Would like to add the contribution guidelines and contributing details in this file
this would make it easier for contributors to look into and contribute

the file I am planning to create would be similar to https://github.com/smaranjitghose/auto_vaidya/blob/master/CONTRIBUTING.md  which i have created

[2020-09-08 06:02] shraddhavp commented on #134
if the issue is accepted then please assign me the issue @harsh-9in  sir

[2020-09-08 14:27] Swarnimashukla commented on #112
@ymaheshwari1   Here are few changes i would suggest :

1. Include notification in header along with icons place icons for other buttons as well
2. Remove white background from blogger logo
3. keep everything from myblog below trending as present in ui create div or columns check for online tutorials for creating different sections on a page .
4. Keep login and register as single button

[2020-09-08 14:31] Swarnimashukla commented on #114
@AdityaAshvin  here are few changes i would suggest :

1. Place notification button before search bar
2. use icons along with buttons in header
3. In footer use social media icons as present in ui design this looks little dull here .

Rest everything looks fine to me @harsh-9in  what do you suggest ?

[2020-09-08 14:32] Swarnimashukla commented on #113
@shraddhavp  are you working on this issue ?

[2020-09-08 14:33] Swarnimashukla commented on #115
@Akshi149  are you working on this issue ?

[2020-09-08 14:58] AdityaAshvin commented on #114
okay i will make these changes.

[2020-09-08 16:19] Akshi149 commented on #115
@Swarnimashukla yeah

[2020-09-08 18:25] AdityaAshvin commented on #114
![ss1](https://user-images.githubusercontent.com/53205379/92513894-a7737300-f22e-11ea-945c-b91df1550fb9.JPG)
![ss2](https://user-images.githubusercontent.com/53205379/92513898-a8a4a000-f22e-11ea-9d39-97283ff4e248.JPG)

@Swarnimashukla Done.

[2020-09-08 20:06] harsh-9in commented on #134
ok go ahead @shraddhavp:+1:

[2020-09-09 03:32] Swarnimashukla commented on #114
This looks good , go for pr @AdityaAshvin

[2020-09-09 06:57] shraddhavp commented on #113
yes @Swarnimashukla  mam working will be ready by this weekend

[2020-09-09 07:14] ManishShah120 opened #136 "[Feature] Add Markdown Styling"
## Is your feature request related to a problem? Please describe.
- Currently any user cannot style their blog according to their need, its stipulated to `TextField()` only, which has no support for any kind of styling.

## Describe the solution you'd like
- By the addition of the `Markdown` feature, User's would be able to add all those styling to their blog-post/article which comes with `Markdow

[2020-09-09 07:14] ManishShah120 commented on #136
Hey @Kajol-Kumari , I am interested in working on this feature. Can you  assign it to me with the required labels.

[2020-09-09 07:20] kritikaparmar-programmer commented on #96
Hey @Kajol-Kumari  I want to work on this is issue.. Please assign me..

[2020-09-09 08:21] Kajol-Kumari commented on #136
Hey @ManishShah120 thanks for opening up this issue. Please go ahead with this.

[2020-09-09 08:22] Kajol-Kumari commented on #96
sure @kritikaparmar-programmer ! Please go ahead with issue :)

[2020-09-09 13:31] kritikaparmar-programmer opened #139 "Adding Pagination"
**Is your feature request related to a problem? Please describe.**
Right now all the blogs are shown on one page.. We can add Pagination to just get recent 4-6 blogs on the front page and rest on others

**Describe the solution you'd like**
I would like to add pagination to the blogging site..

**Additional context**
This will make website more beautified and user interactive..

[2020-09-09 13:32] kritikaparmar-programmer commented on #139
Hey @Kajol-Kumari , I would like to work on this.. Please assign me this issue..

[2020-09-09 13:45] Kajol-Kumari commented on #139
Hey @kritikaparmar-programmer Thanks for opening up this issue. Please go ahead with this issue and let's keep 2-4 blogs per page.

[2020-09-09 16:07] #134 closed

[2020-09-09 16:40] harsh-9in opened #140 "Session Count"
**Is your feature request related to a problem? Please describe.**
For analysis, we can provide user data that how much time he/she spending on our site.

**Describe the solution you'd like**
We can use the session count feature to get his/her spent time on the site.

[2020-09-09 17:29] #126 closed

[2020-09-09 19:49] Akshi149 commented on #115
@Swarnimashukla it's almost done
I'll upload its view by today 🙂

[2020-09-09 20:48] #51 closed

[2020-09-10 09:07] ymaheshwari1 commented on #140
@harsh-9in I am interested in this.

[2020-09-10 12:54] Akshi149 commented on #115
![ui](https://user-images.githubusercontent.com/69034239/92731333-8e83d280-f392-11ea-9c76-0d8326d7d0f9.gif)
@Swarnimashukla @harsh-9in have a look over it
any changes to be made?

[2020-09-10 15:24] harsh-9in commented on #140
This issue is assigned to @ymaheshwari1 .

[2020-09-10 19:15] #96 closed

[2020-09-11 05:42] kritikaparmar-programmer opened #143 "User Posts on Profile"
**Is your feature request related to a problem? Please describe.**
Currently we are showing posts of all the users all together, but we can add a feature of taking a look at the posts by a single user by clicking on his/her name.. This will redirect to profile page having the posts that the user have made in her/his past with his/her profile.

**Additional context**
It will add a new and user inte

[2020-09-11 05:43] kritikaparmar-programmer commented on #143
Hey @harsh-9in and @Kajol-Kumari,  I would like to work on this issue.. Please assign me..

[2020-09-11 06:17] #139 closed

[2020-09-11 06:28] harsh-9in opened #144 "view count requires refreshing"
**Describe the bug**
we have a view count feature which counts the no of time that a blog is viewed but it requires refreshing for increasing that no.
It should be done without refreshing which means asynchronously.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Click on any blog

**Expected behavior**
It should be done without refreshing which means asynchronously.

[2020-09-11 06:29] ymaheshwari1 commented on #112
@Swarnimashukla I don't have the transparent logo. Can you share it with me?

[2020-09-11 06:44] harsh-9in commented on #143
Go ahead @kritikaparmar-programmer :+1:

[2020-09-11 06:47] ManishShah120 commented on #144
Interested @harsh-9in

[2020-09-11 06:47] ymaheshwari1 commented on #112
@Swarnimashukla I have updated the design.

![image](https://user-images.githubusercontent.com/41404838/92877344-aefe6c00-f428-11ea-9e4a-22cbd6fb6cac.png)

[2020-09-11 06:49] ymaheshwari1 commented on #112
![image](https://user-images.githubusercontent.com/41404838/92877639-fb49ac00-f428-11ea-9efa-dbc618d88157.png)

[2020-09-11 06:50] harsh-9in opened #145 "Category of a blog"
**Is your feature request related to a problem? Please describe.**
We want some tags added by the user which is related to that blog.

**Describe the solution you'd like**
make a tag field that contains a tag feature.

[2020-09-11 06:52] harsh-9in commented on #144
Go ahead @ManishShah120 :+1:

[2020-09-11 06:53] #145 closed

[2020-09-11 07:14] #91 closed

[2020-09-11 08:15] kritikaparmar-programmer commented on #24
Hey @Kajol-Kumari can I work on this issue??

[2020-09-11 12:14] Kajol-Kumari commented on #24
Hey @AkM-2018 can you please provide me your work status for this issue as you were supposed to open up a new PR for this issue. @kritikaparmar-programmer Let's wait for 3 days, if @AkM-2018 won't response i'll assign it to  you.

[2020-09-11 12:31] kritikaparmar-programmer commented on #24
@Kajol-Kumari  Okay 👍

[2020-09-11 14:07] Akshi149 commented on #115
Added icons in the header
@Swarnimashukla please have a look
![127 0 0 1_8000_communities_ - Google Chrome 11-09-2020 19_32_48](https://user-images.githubusercontent.com/69034239/92935130-feaf5880-f465-11ea-981e-44e4d6d343c2.png)

[2020-09-11 16:45] Swarnimashukla commented on #115
This looks good 👍  go for pr @Akshi149

[2020-09-11 16:50] Swarnimashukla commented on #112
@ymaheshwari1  great , just remove thing after myblog, it is taking up space unnecessarily and in future if more real time blogs will be present it can be shown , right now i feel it is just adding up to code length and not useful
Once you make this change go for pr 👍

[2020-09-11 19:31] Akshi149 commented on #115
@Swarnimashukla @Kajol-Kumari as there is already a base.html file that contains header and other parts of the website so I just added a footer and sidebar sections in it so that no changes need to be made with other pages and just extended the base.html file for this page.
So should I go with this or separately write the header and footer HTML files as mentioned in pr #141 ?

[2020-09-12 03:55] ymaheshwari1 commented on #112
@Swarnimashukla Can you mark the space on the above screenshot?

[2020-09-12 06:30] AkM-2018 commented on #24
There's some bug in my code which I'm not able to figure out. I've spent a lot of time on this issue. Pls, reassign it to someone else.

[2020-09-12 09:17] Rishikeshrajrxl opened #147 "Want to Create a Contributor's Guidelines."
**Is your feature request related to a problem? Please describe.**

A Guidelines for the new geeks who are new to Open source.
There are certain steps and instructions which should be followed by every new commerce.

[2020-09-12 09:18] Rishikeshrajrxl commented on #147
If you think this should be applied, then plz assign me this task.

[2020-09-12 13:10] ymaheshwari1 commented on #112
@Swarnimashukla Have a look at this.

![image](https://user-images.githubusercontent.com/41404838/92996190-6083c700-f527-11ea-98ae-b52bb5cfa6e2.png)

[2020-09-13 04:26] Swarnimashukla commented on #112
alright,  go for pr @ymaheshwari1  check #141  on how to make pr. you can just include main content code as we have header and footer html codes.

[2020-09-13 05:59] Kajol-Kumari commented on #24
@kritikaparmar-programmer would you like to go ahead with this issue?

[2020-09-13 06:26] kritikaparmar-programmer commented on #24
Yess @Kajol-Kumari

[2020-09-13 12:09] shraddhavp commented on #113
![Screen Recording 2020-09-13 at 05 38 26 00 PM](https://user-images.githubusercontent.com/42699578/93017654-0d257d80-f5e8-11ea-8791-ad87e4ba87ea.gif)
@Swarnimashukla  and @Kajol-Kumari  is this ok?

[2020-09-13 12:12] shraddhavp commented on #113
![Screen Recording 2020-09-13 at 05 41 20 87 PM](https://user-images.githubusercontent.com/42699578/93017714-7a391300-f5e8-11ea-834c-4eebc8b7637a.gif)

@Swarnimashukla  mam and @Kajol-Kumari  is this ok or any changes needed?

[2020-09-14 04:09] Swarnimashukla commented on #115
@Akshi149  Keep all three parts in a folder including header , footer and your main content we will decide which header and footer to use for all pages

[2020-09-14 04:15] Swarnimashukla commented on #113
@shraddhavp  in "your stats" section place everything  horizontally , also there were few more sections in ui design of dashboard which are not present here, try to replicate ui design into your code refer #78

[2020-09-14 07:05] #143 closed

[2020-09-14 07:08] #112 closed

[2020-09-14 07:14] harsh-9in commented on #115
Ui looks amazing.
great work @Akshi149 :+1:

[2020-09-14 07:18] #114 closed

[2020-09-14 13:29] kritikaparmar-programmer opened #150 "Bugs in Home Page"
**Describe the bug**
Bug in Home Page

**To Reproduce**
Steps to reproduce the behavior:
 Run the project and see the error of having written multiple time either endblock or block slider

**Expected behavior**
The home page should be seen instead of errors

**Screenshots**
![bug](https://user-images.githubusercontent.com/59971890/93091775-2bf54400-f6bc-11ea-831f-339b5371f887.png)

![bug2](https:/

[2020-09-14 13:31] kritikaparmar-programmer commented on #150
Hey @harsh-9in and @Kajol-Kumari take a look at these issues I'm opening a pull request for the same so that this issue get resolved soon.. As because of it the home page is not opening and throwing errors..

[2020-09-14 22:39] #150 closed

[2020-09-15 08:58] shraddhavp commented on #113
![Screen Recording 2020-09-15 at 02 26 40 49 PM](https://user-images.githubusercontent.com/42699578/93189274-901d1400-f75f-11ea-8bc5-1cd89382c67d.gif)

@Swarnimashukla mam, @Kajol-Kumari  mam and @harsh-9in  sir please look into the design of Dashboard and let me know if any changes

[2020-09-15 12:25] harsh-9in commented on #147
@Rishikeshrajrxl  it is already present there in [contributing.md](https://github.com/harsh-9in/Blogger/blob/master/CONTRIBUTING.md)

[2020-09-15 12:26] harsh-9in commented on #110
@AkM-2018 are you still working on this issue?

[2020-09-15 12:29] harsh-9in opened #152 "Tag for blog"
**Is your feature request related to a problem? Please describe.**
We should have a tag filed in our blog in which we can add one or more tags related to the blog. I am requesting for this feature because in the future we will add feature of filtering blogs by tags.

[2020-09-15 14:10] ManishShah120 commented on #152
@harsh-9in ,I am interested in working on this issue. Can you assign it to me?

[2020-09-15 14:13] kritikaparmar-programmer commented on #152
Hey @harsh-9in I want to work on this..

[2020-09-15 14:25] kritikaparmar-programmer opened #153 "Icons not showing up"
**Describe the bug**
The like dislike and share icons are not showing up on home page.

**To Reproduce**
Steps to reproduce the behavior:
 Go to home page

**Screenshots**
If applicable, add screenshots to help explain your problem.
![error](https://user-images.githubusercontent.com/59971890/93223158-61b62d80-f78d-11ea-9c6b-4fcf6066fe6d.png)

[2020-09-15 14:25] kritikaparmar-programmer commented on #153
Hey @harsh-9in take a look at this issue..

[2020-09-15 14:51] harsh-9in opened #154 "Tag Dictionary"
**Is your feature request related to a problem? Please describe.**
Check issue #152. When a  user uses a tag then It should add to the tag dictionary for further process and if that already present then it should not add but there should be a count on the tag how much time it used and that should increase.

[2020-09-15 14:52] harsh-9in commented on #152
@ManishShah120  I am assigning this issue to you.

@kritikaparmar-programmer you can refer issue #154.

[2020-09-15 14:54] harsh-9in commented on #152
You both can discuss the approach for solving issues because they are interconnected to each other.

[2020-09-15 14:56] harsh-9in commented on #152
@kritikaparmar-programmer ping me on #154 I will assign that to you.

[2020-09-15 14:57] harsh-9in commented on #154
assigned to @kritikaparmar-programmer

[2020-09-15 15:00] harsh-9in commented on #153
@kritikaparmar-programmer  assigned to you.

[2020-09-15 15:03] #136 closed

[2020-09-15 15:32] kritikaparmar-programmer commented on #154
Ok @harsh-9in ..👍

[2020-09-15 16:13] AkM-2018 commented on #110
@harsh-9in, you can reassign it to someone else. I'm not able to give it enough time. I'm really sorry.

[2020-09-15 16:18] harsh-9in commented on #110
ok no problem :smile:

[2020-09-15 16:18] #110 closed

[2020-09-15 16:27] harsh-9in opened #155 "added user testes"
**Is your feature request related to a problem? Please describe.**
In the `test.py` file of the user model, we want to add tests.

[2020-09-15 17:04] Akshi149 commented on #155
@harsh-9in I would like to work on this issue.

[2020-09-15 17:07] harsh-9in commented on #155
assigned to @Akshi149

[2020-09-15 18:35] ManishShah120 commented on #144
Hey @harsh-9in, Can you provide me some links in reference to this issue, I am having a hard time to find some resources which I can follow to solve this issue.
--Thank You

[2020-09-15 21:42] harsh-9in opened #156 "test for blog"
**Is your feature request related to a problem? Please describe.**
In the test.py file of the blog model, we want to add tests.

[2020-09-16 04:48] shraddhavp commented on #156
interested sir

[2020-09-16 07:29] harsh-9in commented on #156
Assigned to @shraddhavp

[2020-09-16 09:09] harsh-9in commented on #144
Hey, @ManishShah120  for this you require knowledge of ajax. After using ajax you can asynchronously make calls to the server and it will not require to refresh the page. I have attached some source to get an idea of ajax.
https://www.youtube.com/watch?v=KgnPSmrQrXI

https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html

https://www.tutorialspoint

[2020-09-16 09:09] harsh-9in commented on #144
if you have any doubt feel free to ping.

[2020-09-16 14:08] Swarnimashukla commented on #113
Alright  this looks better 👍 @shraddhavp  go for pr do keep three separate files header , main content , footer in  a folder.

[2020-09-16 15:41] ManishShah120 opened #157 "[BUG] Search Bar Error"
**Describe the bug**
Whenever we try to search for anything by the search bar, search query is not resolved, and an error page is displayed instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'homepage'
2. Type something in the search bar.
3. Hit Enter.
4. See error

**Expected behavior**
Only those blogs matching the search query should be returned.

**Screenshots/Gif**
![searche

[2020-09-17 07:33] #153 closed

[2020-09-17 07:50] harsh-9in opened #160 "Comment feature"
**Is your feature request related to a problem? Please describe.**
There should be a comment feature where more than one authenticated user can comment.

[2020-09-17 08:50] ManishShah120 commented on #160
I can, and want to work on this issue, but I have two issues already assigned to me, Can I be assigned to work on this feature too... After solving those two issues I can start working on this.

[2020-09-17 09:29] harsh-9in commented on #160
You have to first complete those issues first. If someone doesn't ask me to assign then I assign it to you.

[2020-09-17 14:06] #115 closed

[2020-09-17 15:36] shraddhavp commented on #113
any changes that i need to do before a PR? @Swarnimashukla

[2020-09-18 05:14] rutujadhanawade commented on #160
I would like to work on this

[2020-09-18 05:35] harsh-9in commented on #160
Go ahead @rutujadhanawade

[2020-09-18 08:31] nikita-1801 commented on #160
I'd like to work on this issue

[2020-09-18 08:35] harsh-9in commented on #160
@nikita-1801 this issue is already assigned you can check out another issue or create another

[2020-09-18 15:59] ManishShah120 commented on #144
@harsh-9in, Can we move this feature to the blog-detail page, because if we move this feature to the detail page of any blog, then the updated value will be shown by default without any refresh. I am finding it tough to implement the concepts of ajax, as I have never worked with it in past.

[2020-09-19 09:07] harsh-9in commented on #46
@Joshitha18  are you still working on this issue?

[2020-09-20 10:11] #144 closed

[2020-09-20 15:19] ManishShah120 opened #164 "Posts with markdown styling not taking effect in the profile-view page"
### Describe the bug:
- The blog-posts published with markdown styling options are not taking the effects on the user profile page.

### To Reproduce:
Steps to reproduce the behavior:
**1**. Go to 'home page'
**2**. Click on 'user-name' present on any of your posted blogs.
**3**. See error

### Expected behavior:
Any posts published and wrote with the tools of styling options of CKEditor should ta

[2020-09-20 15:20] ManishShah120 commented on #164
@Kajol-Kumari, I am interested in solving this issue, can you assign this to me with the required labels.

[2020-09-21 08:07] harsh-9in commented on #164
@ManishShah120  you can work on this issue.👍

[2020-09-21 14:10] #113 closed

[2020-09-21 17:06] shraddhavp commented on #156
@harsh-9in  sir can you please let me know some example test cases needed?

[2020-09-21 17:58] harsh-9in commented on #156
Do you need documentation or resources?

[2020-09-22 04:36] shraddhavp commented on #156
documentation sir

[2020-09-22 04:50] rutujadhanawade commented on #160
@harsh-9in
I think,
First I have to create a comment field in model "post" , Then in views I need to write a code to check if the user authenticated or not then only he can comment.
Is it right ? correct me if I am wrong.

[2020-09-22 12:26] harsh-9in commented on #156
https://docs.djangoproject.com/en/3.1/topics/testing/overview/

https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

https://www.youtube.com/watch?v=DmRpNoQEx2o

https://www.youtube.com/watch?v=0MrgsYswT1c

https://www.youtube.com/watch?v=WWa4bzTJZgI

[2020-09-22 12:30] harsh-9in commented on #156
Hope this help and If you still have trouble feel free to discuss in the channel.

[2020-09-22 14:07] harsh-9in opened #167 "Login as new user and try to change the image"
**Describe the bug**
after signup/login as a new user I am not able to change my image that feature is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://127.0.0.1:8000/profile/
2. Click on Profile Image
3. See error

**Expected behavior**
It should change the profile

**Screenshots**

![Screenshot from 2020-09-22 18-15-37](https://user-images.githubusercontent.com/541

[2020-09-22 14:11] harsh-9in opened #168 "after creating blog when clicked on the creater of blog"
**Describe the bug**
After creating blog when I tap on the username it shows an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. Click on selfusername after creating blog
See error

**Expected behavior**
It should show the profile.

**Screenshots**

![Screenshot from 2020-09-22 19-40-21](https://user-images.githubusercontent.com/54139847/93893630-78b7cb00-fd0b-11ea-8

[2020-09-22 14:12] #152 closed

[2020-09-22 14:21] ManishShah120 commented on #168
@harsh-9in, I want to work on this issue.

[2020-09-22 14:24] harsh-9in commented on #168
go ahead @ManishShah120

[2020-09-22 16:01] Akshi149 commented on #132
@harsh-9in
header and footer will be added later so didn't show it here
the pink color is when the button is hovered

![127 0 0 1_8000_post_create_ - Google Chrome 22-09-2020 21_25_01](https://user-images.githubusercontent.com/69034239/93906705-2500ae00-fd1a-11ea-845f-42810fc59c64.png)
any changes you want to suggest?

[2020-09-22 16:22] kritikaparmar-programmer commented on #167
I would like to take up this issue @harsh-9in .. Please assign me.

[2020-09-22 16:30] shraddhavp commented on #156
yes sure I will look into the links thank you

[2020-09-22 17:06] #168 closed

[2020-09-22 17:36] harsh-9in commented on #167
go ahead @kritikaparmar-programmer

[2020-09-22 17:37] harsh-9in commented on #132
plz remove that Filter and trending part

[2020-09-22 17:51] Akshi149 commented on #132
that is actually being rendered from base.html

[2020-09-22 17:54] harsh-9in commented on #132
okk

[2020-09-22 17:55] harsh-9in commented on #132
looks good make pr

[2020-09-22 17:56] Akshi149 commented on #132
in that case, should I make a separate page that contains all (header, form, footer)?

[2020-09-22 17:57] Akshi149 commented on #132
header and footer will be that of #101

[2020-09-22 17:57] harsh-9in commented on #132
first, we will go with good wireframes

[2020-09-22 17:59] Akshi149 commented on #132
ohk 👍

[2020-09-22 17:59] harsh-9in commented on #132
Do one thing make this as pr and I will create another issue for removing this in that you can add footer and header.

[2020-09-22 18:06] harsh-9in opened #170 "remove side bar and trending section"
**Is your feature request related to a problem? Please describe.**
currently, the template for creating a post is rendering on base.html we want it to be separate.
Because trending and side bar is present in base.html use #101 header and footer

![](https://user-images.githubusercontent.com/69034239/92331807-dd7def00-f096-11ea-9a5a-447f05a13ef6.png)

[2020-09-22 18:11] ManishShah120 commented on #170
I want to work on this issue.. @harsh-9in

[2020-09-22 18:12] Akshi149 commented on #170
I want to work on it

[2020-09-22 18:15] harsh-9in commented on #24
@kritikaparmar-programmer are you still working on this issue.

[2020-09-22 18:17] harsh-9in commented on #170
@ManishShah120 Actually @Akshi149  discussed me already about this issue. Infact, It was her proposal.
So, @Akshi149 would work on this issure.
@ManishShah120 I am creating few issues soon.

[2020-09-22 18:20] harsh-9in opened #171 "Bookmark option"
**Is your feature request related to a problem? Please describe.**

There should be a bookmark option in a blog. If a user bookmarks any blog It should add to his bookmark list.

[2020-09-22 18:27] ManishShah120 commented on #171
I would like to work on this issue...

[2020-09-22 18:28] harsh-9in commented on #171
Go ahead @ManishShah120 :+1:

[2020-09-22 21:30] kritikaparmar-programmer commented on #24
Yes I'm working on this issue though facing some issues I'll let you know @harsh-9in

[2020-09-23 09:12] #132 closed

[2020-09-23 09:14] harsh-9in commented on #24
okk @kritikaparmar-programmer

[2020-09-23 18:33] Akshi149 commented on #170
![127 0 0 1_8000_post_create_ - Google Chrome 24-09-2020 00_00_12](https://user-images.githubusercontent.com/69034239/94054357-32409a00-fdf9-11ea-939f-60f81965340a.png)
@harsh-9in have a look

[2020-09-24 10:47] #164 closed

[2020-09-24 10:48] harsh-9in commented on #170
looks cool :+1:

[2020-09-24 11:02] Akshi149 commented on #170
Should I change the header and footer in base.html?
Currently this is separate post page

[2020-09-24 11:04] harsh-9in commented on #170
No no need to change there.
Is it working fine I mean all the features are working properly?

[2020-09-24 11:58] Akshi149 commented on #170
Yeah

[2020-09-24 14:01] #127 closed

[2020-09-25 16:39] kritikaparmar-programmer commented on #24
hey @harsh-9in and @Kajol-Kumari please assign this issue to someone else. I don't know why I'm facing issues. Better not to waste time.

[2020-09-25 19:29] ManishShah120 opened #177 "Add a default error page template[404 Error Handler]"
**Is your feature request related to a problem? Please describe.**
- When any user tries to get any post that is broken or does not exist then a simplistic error page displays.
- This is due to because currently, this web app doesn't have any default template for handling the `404 Error`.

**Describe the solution you'd like**
- Add a feature in this app to handle this error and display a default p

[2020-09-25 19:29] ManishShah120 commented on #177
@harsh-9in I am interested in working on this issue.

[2020-09-26 09:13] harsh-9in commented on #177
@ManishShah120 go ahead :+1:

[2020-09-26 13:34] Akshi149 opened #179 "Update README.md"
**Describe the bug**
 Separate Contribution guidelines are present in README.md

**Expected behavior**
Removing the same and writing a path to redirect to Contributing.md for the guidelines

[2020-09-26 13:35] Akshi149 commented on #179
I would like to work on this

[2020-09-26 13:51] nooras commented on #24
Can I try this ? @Kajol-Kumari

[2020-09-26 13:54] ExpressHermes commented on #24
@Kajol-Kumari I think we can use Ajax to implement like button. Furthermore, using jQuery will immensely decrease the difficulty. I would like to work on this.

[2020-09-26 17:02] ymaheshwari1 opened #180 "Updating the project structure"
Currently, the project structure is not clean. There are a lot of folders that have been created for logos, wireframes which I think needs to be placed inside static files so to make our project structure look clean and good.

![github com_harsh-9in_Blogger_tree_master_mysite](https://user-images.githubusercontent.com/41404838/94346105-1252e580-0048-11eb-86e4-57c0789b535f.png)

[2020-09-26 17:02] ymaheshwari1 commented on #180
I am interested in solving this.

[2020-09-27 10:30] ymaheshwari1 commented on #140
@harsh-9in Do we also want to store the time spent in the database?

[2020-09-29 05:00] #170 closed

[2020-09-29 08:51] #171 closed

[2020-09-30 09:54] harsh-9in opened #183 "Create a project admin and mentor section in readme file"
**Is your feature request related to a problem? Please describe.**
A section in the readme for project admin and mentors to recognize their hard work to grow this project.
there will be a photo (can get from GitHub) and ink their GitHub profile.

[2020-09-30 10:03] #177 closed

[2020-09-30 10:10] #167 closed

[2020-09-30 10:11] harsh-9in commented on #183
mentors are @Kajol-Kumari @Swarnimashukla @SKAUL05

[2020-09-30 12:47] shraddhavp commented on #183
@harsh-9in  would like to take up the issue

[2020-09-30 12:47] harsh-9in commented on #183
go ahead @shraddhavp :+1:

[2020-09-30 17:27] ManishShah120 opened #185 "[BUG] Profile Page Error"
**Describe the bug**
- The blogs wrote with the special tools of `CKEditor` are not being rendered as expected in the `profile` page.
- When the title of any posts is clicked to view the detailed blog an error pops out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '127.0.0.1/profile'
2. Click on 'profile'
3. Click on the `dashboard` option from the dropdown menu.
4. See the error
5.

[2020-09-30 17:28] ManishShah120 commented on #185
@harsh-9in, @Kajol-Kumari I am interested in solving this error. Can you please assign me with the required labels?

[2020-09-30 18:01] harsh-9in commented on #185
Go ahead @ManishShah120 :+1:

[2020-09-30 18:20] #183 closed

[2020-09-30 19:43] harsh-9in opened #187 "replace home ui to new ui"
**Is your feature request related to a problem? Please describe.**
replace our home UI to #161

[2020-09-30 19:46] kritikaparmar-programmer commented on #187
Hasn't she made the changes directly!
So we have to just replace the code? @harsh-9in

[2020-09-30 19:49] harsh-9in commented on #187
we have template we have to integrate into this. So we have to replace the code and make sure all the links and features are working properly.
Do you want to work on this issue?

[2020-10-01 04:23] Akshi149 commented on #187
I would like to work on this issue @harsh-9in

[2020-10-01 04:35] harsh-9in commented on #187
Go ahead @Akshi149 👍

[2020-10-01 04:38] #160 closed

[2020-10-01 04:49] Akshi149 commented on #187
@harsh-9in the UI is of community_extended page not home page

[2020-10-01 04:51] harsh-9in commented on #187
Okk. Let me first get the home page 😀

[2020-10-01 07:25] Akshi149 commented on #187
actually the home page is already modified but he forgot to change Header, footer and color

[2020-10-01 11:35] ManishShah120 opened #188 "[BUG] Not able to view any blog-posts"
**Describe the bug**
- The detail page of any blog-post is producing this error.
- The `dashboard` option from the dropdown menu of the profile is producing this error.
- The `My favorites` option from the dropdown menu of the profile is producing this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '127.0.0.1'
2. Click on 'Click on any blog title '
3. See an error

**Expected b

[2020-10-01 11:41] ManishShah120 commented on #188
@harsh-9in, @Kajol-Kumari, @Swarnimashukla, @SKAUL05, Please have a look.

[2020-10-01 12:17] rutujadhanawade commented on #188
I would like to fix this bug as a part of CH20

[2020-10-01 13:26] kritikaparmar-programmer commented on #188
Hey @ManishShah120 I talked to @harsh-9in its main reason is the deletion of migrations folder. Lets see what solution they comes with..

[2020-10-01 17:51] #180 closed

[2020-10-02 04:53] ymaheshwari1 commented on #70
The error is resolved and we can close this issue. @Kajol-Kumari

[2020-10-02 04:53] #70 closed

[2020-10-02 05:22] Akshi149 commented on #187
@harsh-9in should I change the Header, Footer, and change the UI as of #161 (excluding the portion that contains Technology and the sidebar)?

[2020-10-02 05:32] Akshi149 commented on #179
This issue is solved so I m closing it @harsh-9in

[2020-10-02 05:32] #179 closed

[2020-10-02 15:03] ManishShah120 commented on #188
This has been solved, so closing this issue.

[2020-10-02 15:03] #188 closed

[2020-10-02 15:43] #185 closed

[2020-10-03 12:06] harsh-9in opened #193 "add tests for views"
**Is your feature request related to a problem? Please describe.**
For view.py create tests

[2020-10-03 12:55] ManishShah120 commented on #193
I am interested to work on this issue. @harsh-9in Can you add the labels for hacktoberfest and assign it to me.

[2020-10-03 14:01] harsh-9in commented on #193
go ahead @ManishShah120 :+1:

[2020-10-03 16:13] Akshi149 commented on #46
@harsh-9in I would like to work on this issue.

[2020-10-03 19:23] #155 closed

[2020-10-05 17:06] harsh-9in commented on #156
@shraddhavp are you still working on this issue?

[2020-10-06 14:30] shraddhavp commented on #156
yes sir @harsh-9in

[2020-10-06 18:25] harsh-9in commented on #156
okk @shraddhavp :+1:

[2020-10-09 20:16] #193 closed

[2020-11-24 13:26] harsh-9in opened #195 "Dockerize the project"

[2020-11-25 09:37] harsh-9in opened #196 "Apply SMTP on signup event"
add the feature of sending welcome mail after signup

[2020-11-26 02:49] #196 closed

[2020-11-29 05:21] iamkrati22 commented on #195
Hey, I would like to work on this issue. Can you assign this to me?

[2020-11-29 05:45] khushi0704 commented on #147
Hey , is it still open  , can I work on this ?

[2020-11-29 05:58] Rishikeshrajrxl commented on #147
Sorry it is over for now

On Sun, 29 Nov, 2020, 11:15 am KHUSHI JAIN, <notifications@github.com>
wrote:

[2020-11-29 16:46] Poobalan1210 commented on #46
Can i work on this issue for NWOC

[2020-11-30 03:46] subhangi2731 commented on #195
can you please assign this to me? @harsh-9in

[2020-11-30 07:42] paramsiddharth commented on #195
I can do that. May I work on this?

[2020-12-01 05:38] dijodaiju7 commented on #195
Hi @harsh-9in I'm interested in this. Can you please assign it to me

[2020-12-01 15:08] harsh-9in commented on #195
as @subhangi2731 asked first so, she can work on this issue. You guys can checkout other issues as well.

[2020-12-01 15:10] harsh-9in commented on #46
Go ahead @Poobalan1210 :+1:

[2020-12-01 16:41] yashgautam9274 commented on #33
I want to work on this issue

[2020-12-01 16:47] harsh-9in commented on #33
This issue is already solved :)

[2020-12-01 16:47] #33 closed

[2020-12-02 16:09] Kerveyfelix commented on #187
Can I work on this issue?

[2020-12-02 16:13] Kerveyfelix commented on #147
Hi. Can I work on this?
What I plan:
1) Create a file with images and pictures showcasing how to contribute to this project.
2) Include beginner's guide to contributing.

[2020-12-02 16:15] Kerveyfelix commented on #147
I also suggest giving text about contributing for NJACK'20 along with the points.

[2020-12-03 03:44] subhangi2731 commented on #147
can you please assign this issue to me? @harsh-9in

[2020-12-03 03:46] subhangi2731 commented on #13
can i work on this? @harsh-9in

[2020-12-03 18:12] Ayush7614 opened #200 "hosting"
You don't have host the project without hosting how the people knows about this what is this I know readme is helpful but with hosting it seems looks likes very good and everybody knows

[2020-12-04 06:40] Abjcodes commented on #147
Hey @harsh-9in, is this issue still open?

[2020-12-04 11:25] TrushaT commented on #24
Can I be assigned this issue? @harsh-9in .

[2020-12-04 13:59] harsh-9in commented on #24
Go ahead :+1:

[2020-12-04 14:00] harsh-9in commented on #200
I have given the guide to set it up locally That will be helpful for running the project.

[2020-12-04 14:00] #200 closed

[2020-12-05 06:20] KerinPithawala opened #201 "Create a PR template that suits this project."
**Describe the solution you'd like**
To ease the work of maintainer, add some checkbox in the PR request template so that a person creates pr after complying with organisations rules.

**Additional context**
Add any other context or screenshots about the feature request here.
It could look something like this:
-  [ ] Have you followed the [Contribution guide](https://github.com/harsh-9in/Blogger/b

[2020-12-05 10:48] SubhradeepSS commented on #140
@harsh-9in I would like to work on this issue. Can u assign it to me?

[2020-12-06 07:51] harsh-9in commented on #140
go ahead :+1:

[2020-12-06 07:52] harsh-9in commented on #140
This is already solved try new one.

[2020-12-07 01:02] Pranav016 opened #204 "Environment setup command incorrect and typo in pull-request template."
**Describe the bug**
There is a bug in the README file that the we use command `cd Blogger` and then we do `pip install -r requirements.txt` but requirements file is not in the root directory, but inside a folder. I would like to update that command and fix a typo in pull-request template.

**Expected behavior**
It would help new contributors to setup their environment to work on the project.

**I

[2020-12-07 05:35] Vrindagupta6828 opened #206 "Add comments to each blog post"
Users can write their views regarding a specific blog by commenting on that blog.

I would like to add this comment option on each blog created.

[2020-12-07 11:18] harsh-9in commented on #206
go ahead @Vrindagupta6828 :+1:

[2020-12-07 14:17] harsh-9in commented on #201
I think the pr template is already present,

[2020-12-07 17:16] Vrindagupta6828 commented on #206
@harsh-9in Please give me points for raising this issue.

[2020-12-09 05:52] Vishal-raj-1 opened #207 "Set Up discussion feature for great conversion"
**Describe the solution you'd like**

@harsh-9in Sir, Did you new feature on github ? We can set discussion on this repo. So what you have to do is just click this block in setting section of your repo. It's Amazing I guess. Have a try.

![discussion](https://user-images.githubusercontent.com/59874304/101589985-8c6ff500-3a0f-11eb-8756-48b53dfe1adf.JPG)

[2020-12-09 13:17] SubhradeepSS commented on #154
@harsh-9in I am interested to work on this issue for NWOC'20. Can u assign me this issue?

[2020-12-09 18:59] harsh-9in commented on #154
go ahead :+1:

[2020-12-10 05:30] harsh-9in opened #209 "Replace Home ui"
**Is your feature request related to a problem? Please describe.**
We want to upgrade the home page UI to a new UI. The prototype of the new UI is given below. You have to use **HTML,CSS, Bootstrap** to make this type of **Responsive UI**.

**Things to remember**

- **Make Sure you connect all the backend features to the frontend part**.
- **All the functionality which is working now should be wor

[2020-12-10 05:32] harsh-9in commented on #207
We have a gitter channel for that which will be much efficient for conversation :)

[2020-12-10 05:32] #207 closed

[2020-12-10 05:34] #187 closed

[2020-12-10 05:34] harsh-9in commented on #187
checkout issue #209

[2020-12-10 05:38] Vrindagupta6828 opened #210 "Add Reply section to comments"
**Is your feature request related to a problem? Please describe.**
Reply feature is not present in comments

**Describe the solution you'd like**
We can add it

[2020-12-10 05:55] SubhradeepSS commented on #154
@harsh-9in I was thinking of adding a model which will store all the tags used for a blog in the database. Should I proceed with this idea?

[2020-12-10 06:45] #24 closed

[2020-12-10 09:24] hariramjp777 commented on #209
Hi @harsh-9in, I want to work on this new feature. Please assign this to me.

[2020-12-10 11:45] harsh-9in commented on #209
go ahead :+1:

[2020-12-10 11:49] hariramjp777 commented on #209
Yes

[2020-12-10 14:39] Pranav016 commented on #204
Can you please review this issue and the PR I opened related to this issue @harsh-9in , thanks 😄

[2020-12-11 06:41] SubhradeepSS opened #211 "requirements.txt file"
**Describe the bug**
requirements.txt file is not having all the packages required to successfully run the project.

[2020-12-11 06:45] SubhradeepSS opened #212 "project database-db.sqlite3"
**Describe the bug**
The project database `db.sqlite3` is not removed from the git reference, even though it is there in .gitignore file. This leads to a common database for every contributor which might create problems for a developer while using the project or testing his/her features.

[2020-12-11 06:45] SubhradeepSS opened #213 "requirements.txt file"
**Describe the bug**
requirements.txt file is not having all the packages required to successfully run the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2020-12-11 06:46] #213 closed

[2020-12-11 06:49] SubhradeepSS commented on #211
@harsh-9in Can i solve this issue that i raised and make a PR?

[2020-12-11 06:50] SubhradeepSS commented on #212
@harsh-9in Can I work on this issue and make a PR to solve it?

[2020-12-13 05:44] harsh-9in commented on #212
Go ahead :+1:

[2020-12-13 05:45] harsh-9in commented on #211
Which packages are you taking about?? can you mantion some?

[2020-12-13 05:56] SubhradeepSS commented on #211
djangorestframework is not included

[2020-12-13 05:58] harsh-9in commented on #211
okk go ahead :+1:

[2020-12-13 13:02] Vishal-raj-1 opened #218 "Contributors Image In Readme"
I think it is a great feature to add contributors image in README file. It really motivate to contributors. It is dynamically order the contributors.

![contrimga](https://user-images.githubusercontent.com/59874304/102012505-dd198200-3d70-11eb-8e1e-379f47ccd7e2.JPG)

If you want to this feature on README so I want to do this issue @harsh-9in  Sir !! 😄

[2020-12-13 13:04] Vishal-raj-1 opened #219 "Should I add NWOC in README under Open Source Program !!"
This project is participating in NWOC. So README.md must show that!!

[2020-12-13 18:17] SubhradeepSS commented on #154
@harsh-9in Can you please review my PR #214 for this issue?

[2020-12-13 18:17] SubhradeepSS commented on #212
@harsh-9in Can you please review my PR - #216 for this issue?

[2020-12-13 18:18] SubhradeepSS commented on #211
@harsh-9in Can you please review my PR - #217 for this issue?

[2020-12-21 17:27] Ak-panchal commented on #219
yes, can you assign me?

[2020-12-22 03:53] Ayushgup85 commented on #46
is this issue still open?

[2020-12-23 14:28] harsh-9in opened #221 "server error 500 after debug=false"
**Describe the bug**
The project runs quite fine when debug=True in settings.py but after debug=false it shows server error 500.

**Additional context**
Stackoverflow and other articles are useful for resolving the bug.

[2020-12-23 14:45] harsh-9in opened #222 "Update readme.md and contribution.md"
As we have updated the project setting that's why it requires to set configurations in .env file. To create .env file you can take reference from .env.example file. This thing is going to mention is contributing and readme file.

[2020-12-26 13:01] Vrindagupta6828 commented on #222
@harsh-9in I would like to work on it

[2020-12-26 14:02] Swapnil-Gaur commented on #46
Is this issue  is still open?, i wanna work on it.

[2020-12-26 14:14] harsh-9in commented on #46
Due to no response, I am assigning this issue to @Swapnil-Gaur

[2020-12-26 15:56] Amit366 commented on #221
I am interested

[2020-12-26 16:16] Akshit42-hue commented on #212
@harsh-9in Can I work on this issue . want to take it for DWOC

[2020-12-26 16:18] Akshit42-hue commented on #19
@harsh-9in Is this issue is still open?

[2020-12-26 17:31] IshetaBansal commented on #222
I would like to work on this issue. But can you please elaborate on what we have to do regarding the .env file. Thank you.

[2020-12-26 17:58] harsh-9in commented on #221
Go ahead @Amit366 and can you plz tell me the program under you are participating.

[2020-12-26 18:03] harsh-9in commented on #212
this issue is solved you can check out another issues.

[2020-12-26 18:05] harsh-9in commented on #19
this issue is already solved you can checkout other issues

[2020-12-26 18:21] harsh-9in commented on #222
Issues are given on a first come first serve basis so @Vrindagupta6828 go ahead and make sure you successfully set up the project then make the file.
And @IshetaBansal you can check out other issues :)

[2020-12-26 18:24] Vrindagupta6828 commented on #222
@harsh-9in can you please elaborate a bit

[2020-12-26 18:32] IshetaBansal commented on #222
Hey! This is my first time. Can you suggest some issues for a beginner? Thank you.

[2020-12-26 18:42] harsh-9in commented on #222
Basically, I have made a  .env.example file in which I have written the configuration except for email and password of SMTP(user will use their data for that if they are working on authentication created part or registration part).
The thing is that while setting up the project they need to make the .env file in the same directory in which the .env.example is present before running any python rela

[2020-12-26 18:53] harsh-9in commented on #222
you can add an issue regarding adding a program section in the readme in which you are selected as a participant.
You can take reference of  hackincodes in the readme. And ask to assign that iise to your self :)

[2020-12-26 18:54] Sloth-Panda commented on #219
can you give this to me?

[2020-12-26 18:56] harsh-9in commented on #219
@Sloth-Panda go ahead

[2020-12-26 18:57] harsh-9in commented on #222
Follow this thing if are are participating in DWOC

[2020-12-26 19:07] Amit366 commented on #221
The program is DWOC

[2020-12-26 19:10] IshetaBansal commented on #222
Thanks a lot! Getting to it right now :)

[2020-12-26 19:12] IshetaBansal opened #223 "Add DWOC in the Open Source Program Section in readme."
**Is your feature request related to a problem? Please describe.**
It's important to add this Project's participation in DWOC in its readme file as well.

Please assign me to work on this if interested. Thank you :)

[2020-12-26 19:14] harsh-9in commented on #223
Go ahead @IshetaBansal 👍

[2020-12-26 23:08] Khimit commented on #223
Hello sir,
      I would like to work on this . Can you assign this task to me?

[2020-12-27 07:11] SubhradeepSS commented on #212
@harsh-9in Please increment my points for raising the issue and also review the corresponding PR - #216

[2020-12-27 07:12] SubhradeepSS commented on #211
@har

Please increment my points (NWOC) for raising the issue and also review my PR - #217

[2020-12-27 07:13] harsh-9in commented on #223
Hey @Khimit , This task is already assigned to isheta so you can checkout other issues.

[2020-12-27 07:27] #212 closed

[2020-12-27 08:06] Amit366 commented on #221
Can you tell me which file should I look into?

[2020-12-27 08:16] harsh-9in commented on #221
settings.py looks like creating this problem.

[2020-12-27 08:18] SubhradeepSS commented on #154
@harsh-9in Can u please review my pr - #214 for NWOC

[2020-12-27 09:42] kanishkaa24 commented on #201
Hey!
I would love to work on this.

[2020-12-27 13:07] chehak123 commented on #223
hii
i would like to work on this issue

[2020-12-27 15:07] Amit366 commented on #221
I am getting error that the python version needs to be updated

[2020-12-27 15:43] Amit366 commented on #221
The error is No name 'config' in module 'decouple'pylint(no-name-in-module)

[2020-12-27 15:44] Amit366 commented on #221
Could you please help me in this

[2020-12-27 17:09] Sloth-Panda commented on #219
@harsh-9in  can you please review this PR

[2020-12-27 17:28] chetak123 commented on #156
can i work on this issue please ?

[2020-12-27 18:52] harsh-9in commented on #156
assigned to you @chetak123

[2020-12-27 18:57] harsh-9in commented on #201
This issue was already solved :)

[2020-12-27 18:57] #201 closed

[2020-12-27 19:02] harsh-9in commented on #221
you need to install requirements so that required packages get istall

[2020-12-27 19:13] Amit366 commented on #221
I did install the packages but still it is showing this error

[2020-12-27 19:19] harsh-9in commented on #221
can you show me the screenshot of error so that it will be easier for Me to solve

[2020-12-27 19:20] Amit366 commented on #221
Ok I will show it tomorrow

[2020-12-27 19:22] Sloth-Panda commented on #223
Hey, I would like to take this work

[2020-12-28 03:32] harsh-9in commented on #223
This issue is already assigned : )

[2020-12-28 03:40] #218 closed

[2020-12-28 03:42] #219 closed

[2020-12-28 03:45] #204 closed

[2020-12-28 06:25] the-supernova commented on #195
Can I work on this issue? DWOC participant

[2020-12-28 07:46] sakshikhachane commented on #13
@harsh-9in Can you assign me this issue?

[2020-12-28 09:16] harsh-9in commented on #195
@subhangi2731 are you still working on it ??

[2020-12-28 09:17] harsh-9in commented on #13
assigned to @sakshikhachane

[2020-12-28 10:13] chehak123 commented on #206
I would like to work on this issue under devscript winter of code

[2020-12-28 10:17] Amit366 commented on #221
![Uploading IMG_20201228_154223.jpg…]()
This is the error.

[2020-12-28 11:31] bhavesh1129 opened #225 "Adding some elements in contributing file"
Hey @harsh-9in!
I want to rearrange your existing contributing file by adding all necessary details, guidelines, to look it better adding some relevant images and some emoji to look it more better.

Hope you like it.
Thankyou!

[2020-12-28 12:14] sakshikhachane commented on #13
@harsh-9in Is this issue applicable for DWOC?

[2020-12-28 13:08] harsh-9in commented on #206
This issue is already solved

[2020-12-28 13:09] harsh-9in commented on #13
yess

[2020-12-28 13:21] Vrindagupta6828 commented on #206
@harsh-9in No it is not solved I was wrking on it and have faced issues and you were guiding me were you able to solve the issue?

[2020-12-28 14:57] tharunc commented on #222
Hello,
     I would like to work on the readme.md file issue . Can you please assign it to me.

[2020-12-28 14:59] Vrindagupta6828 commented on #222
I am working on it

[2020-12-28 15:04] chetak123 commented on #156
sir i have installed requirement.txt
but when i try to do makemigration its showing this error
➜  mysite git:(master)$  python3 manage.py makemigrations
Traceback (most recent call last):
  File "/home/chetak/Documents/Dev/github/dwoc/bloger/Blogger/mysite/manage.py", line 21, in <module>
    main()
  File "/home/chetak/Documents/Dev/github/dwoc/bloger/Blogger/mysite/manage.py", line 17, in main

[2020-12-28 17:31] the-supernova commented on #195
It's been quite a few hours...should I start working on it?

[2020-12-28 18:11] harsh-9in commented on #195
yeah go for it @the-supernova

[2020-12-28 18:26] chetak123 commented on #156
sir i have installed requirement.txt file , changed the secret-key to .env . But i am not able to access home page (127.0.0.1:8000)

the error shown is as follows:
Environment:

Request Method: GET
Request URL: http://127.0.0.1:8000/

Django Version: 3.0.8
Python Version: 3.8.5
Installed Applications:
['blog.apps.BlogConfig',
 'django.contrib.admin',
 'crispy_forms',
 'django.contrib.auth',
 'djan

[2020-12-29 04:53] the-supernova commented on #195
@harsh-9in While debugging the application after making Dockerfile, I come across this exception
![image](https://user-images.githubusercontent.com/56555259/103259477-9e660780-49bf-11eb-8103-e7a899899578.png)
I'm clueless of how to proceed with it...could you guide me further?

[2020-12-29 07:12] harsh-9in commented on #195
This is a library and it is present in requirements.txt make sure you have installed it. I hope after this error will resolve.

[2020-12-29 07:17] harsh-9in commented on #156
You have to create a minimum of four blogs. You may create a superuser and then from admin panel create 4 blogs then you will be able to access.

[2020-12-29 07:34] harsh-9in commented on #225
okk go-ahead @bhavesh1129

[2020-12-29 11:22] Vrindagupta6828 commented on #222
@harsh-9in you have just written a secret key in .env.example so what i have to write in readme is that they have to make a env file in the same folder as .env.example??? Then what is the use of .env.example file?? And where i have to add it?

[2020-12-29 11:26] radhikasingh13 commented on #221
@harsh-9in i am interested in this issue.

[2020-12-29 11:28] harsh-9in commented on #222
Yeah, they have to make a .env file in that they have to copy the content of the .env.example file.

[2020-12-29 11:29] Amit366 commented on #221
![IMG_20201228_154223](https://user-images.githubusercontent.com/60662775/103280730-1bf93a00-49f7-11eb-8f22-13a3d0448c4e.jpg)
This is the error.

[2020-12-29 11:29] Vrindagupta6828 commented on #222
I just have to write this line the readme.md?

[2020-12-29 11:31] harsh-9in commented on #222
That should be .env in the same directory, as .env.example is the file is there to take help to make .env file.

[2020-12-29 11:33] harsh-9in commented on #222
no, you have to elaborate this- you can take help of - https://github.com/harsh-9in/Blogger/issues/222#issuecomment-751384524

[2020-12-29 11:34] Vrindagupta6828 commented on #222
@harsh-9in You have explained the same thing there? What's different i am soo sorry but i am super confused

[2020-12-29 11:34] Vrindagupta6828 commented on #210
@harsh-9in Please give me points for raising this issue

[2020-12-29 11:41] harsh-9in commented on #210
https://gitter.im/NWoC20/Blogger this is the gitter room of blogger in this i have shared a sheet in which there is detail of points which corresponding pr and issues. You can checkout this if you find any missing point then ping me there : )

[2020-12-29 11:44] harsh-9in commented on #222
Okk i no problem I am telling you in very simple way.

[2020-12-29 11:52] Vrindagupta6828 commented on #222
Create a new file in root folder of repository (WebApp) with name .env and add the following content in it:

EMAIL_HOST_USER = 'your-email@domain.com'
EMAIL_HOST_PASSWORD = 'your-password'

SENDER_EMAIL = ' <your-email@domain.com>'
ADMINS_EMAIL = ['email-address-of-admin@domain.com']

you want something like this?

[2020-12-29 12:00] harsh-9in commented on #222
I have sent you instructions on gitter.

[2020-12-29 12:06] Vrindagupta6828 commented on #222
@harsh-9in gitter channel is not working i am suppose I am unable to open gitter

[2020-12-29 12:09] harsh-9in commented on #222
In settings.py there is an email of the host, email password kind of thing which needs to be hidden from Github.

so there is .env file in which all those details are stored which are not shown in Github and it is also already included in .gitigonre file.
so that it does not show on github
but it is mandatory to run a project
so i have made a .env.example file
the content of .env.example will be c

[2020-12-29 12:12] Vrindagupta6828 commented on #222
@harsh-9in Ok thankyou soo much harsh i understood so in the readme i have to mention:
made a .env.example file
the content of .env.example will be copied and pasted into .env file so that settings.py file take all the configurations from .env file
is that ok?

[2020-12-29 12:13] harsh-9in commented on #222
Yeeah exactly

[2020-12-29 13:28] #223 closed

[2020-12-29 13:32] #222 closed

[2020-12-29 14:07] Vrindagupta6828 commented on #206
@harsh-9in Please provide this issue label of it's dificulty

[2020-12-29 14:08] Vrindagupta6828 commented on #210
@harsh-9in Please provide this issue label of it's dificulty as well as label of nwoc.

[2020-12-29 17:07] #225 closed

[2020-12-30 01:06] Jahnavi-Jonnalagadda commented on #210
@harsh-9in I would like to contribute to this issue under **DWOC** program. Could you please assign this issue to me?

[2020-12-30 03:48] Vrindagupta6828 commented on #210
Jahnavi i will be working on it as the issue is raised by me.

[2020-12-30 03:56] Jahnavi-Jonnalagadda commented on #210
Okay @Vrindagupta6828. Not a problem. Thanks for confirming :)

[2020-12-30 06:22] harsh-9in commented on #210
Currently, we are not proceeding with this issue : )

[2020-12-30 06:31] #154 closed

[2020-12-30 06:32] Vrindagupta6828 commented on #210
Why?

[2020-12-30 06:34] harsh-9in commented on #210
Currently, we will focus on bugs and improvement of ui.

[2020-12-30 08:51] Vrindagupta6828 opened #230 "Add like button on post"
We can add a like button on each blog post posted on the app

[2020-12-30 08:52] Vrindagupta6828 opened #231 "Add like button on post"
We can add a like button on each blog post posted on the app

[2020-12-30 08:52] #231 closed

[2020-12-30 09:32] SubhradeepSS commented on #195
@harsh-9in Can i work on this issue for NWOC?

[2020-12-30 15:29] harsh-9in commented on #195
This is already assigned

[2020-12-30 16:14] harsh-9in commented on #230
We already have it right?

[2020-12-31 11:50] radhikasingh13 commented on #221
@harsh-9in i want to know that we need run it locally and then correct it or deploying it on heroku and then run it.Because i find that your project is no problem when debug==false and i commented out these two lines import django_heroku and django_heroku.settings(locals()).So the problem is with heroku .

[2020-12-31 11:59] radhikasingh13 commented on #221
Do we need to signup on heroku for this.

[2020-12-31 14:14] harsh-9in commented on #221
no you don't need to do this.

[2020-12-31 14:15] harsh-9in commented on #221
are you able to run the project locally when debug=false?

[2020-12-31 14:47] radhikasingh13 commented on #221
yes i am able to run the project locally even when debug==false when i commented out these two lines from setting.py file
import django_heroku and django_heroku.settings(locals()

[2020-12-31 15:01] harsh-9in commented on #221
okk fine can you create a pr so i can review the code.

[2020-12-31 15:06] djm-1 opened #232 "Want to beautify search blogs button"
**Is your feature request related to a problem? Please describe.**
the search blog button is not looking that great...it's tilted upwards

**Describe the solution you'd like**
A modern customized search button
**Describe alternatives you've considered**
i can improve the navbar by using bootstrap and css

[2020-12-31 15:21] akrish4 opened #233 "Beautify the README with badges and heading centered"
### **Is your feature request related to a problem? Please describe.**
I would like to beautify the readme file with badges and making the header center and improving little which gives it a stunning look since readme file is the thing people see first and notice

### **Describe the solution you'd like**
I would like to beautify the readme file with badges and making the header center and improvin

[2020-12-31 15:36] harsh-9in commented on #233
go ahead :+1:

[2021-01-02 05:15] atharva-upadhye-01 commented on #147
@harsh-9in, I would like to know why this issue is still open when [CONTRIBUTING.md](https://github.com/harsh-9in/Blogger/blob/master/CONTRIBUTING.md) file does exists.

[2021-01-02 05:54] harsh-9in commented on #147
@atharva-upadhye-01 Yeah  pr is merged I am closing this issue.

[2021-01-02 05:54] #147 closed

[2021-01-02 07:39] Rishikeshrajrxl commented on #233
hey @harsh-9in please assign me this issue, I have already made it and ready to push.

[2021-01-02 08:22] akrish4 commented on #233
@Rishikeshrajrxl
First go read the rules of DWOC ,
- the issue is assigned is to the person who create the issue
you can't push , don't violate the rules @Rishikeshrajrxl

[2021-01-02 08:44] Rishikeshrajrxl commented on #233
@akrish4  I am not pushing any code without being assigned, so please stay calm.

[2021-01-02 09:23] chehak123 commented on #232
I want to work on this under DWOC

[2021-01-02 10:31] harsh-9in commented on #233
Calm down buddies as this was assigned to @akrish4 so his pr will be considered, @Rishikeshrajrxl plz try another issue which is not assigned.

[2021-01-02 10:33] #233 closed

[2021-01-02 11:41] radhikasingh13 commented on #221
@harsh-9in ,I have made the PR. Please check it out.

[2021-01-02 17:26] ashima0699 commented on #232
Please assign this to me @harsh-9in

[2021-01-02 17:38] djm-1 commented on #232
I created the issue and I can solve this.....assign it to me. 😀

[2021-01-03 17:10] #156 closed

[2021-01-03 17:15] reenos-svg commented on #232
I can help you with this too

[2021-01-03 17:18] harsh-9in commented on #232
Guys I am planning for changing the whole UI so there will be issues opening soon you can checkout those.

[2021-01-03 17:18] #232 closed

[2021-01-04 14:45] jveer634 opened #238 "Broken Images on CONTRIBUTING.md"
**Images used on Contributing are broken**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contributing.md'
1. See images missing

**Expected behavior**
Display Images

**Screenshots**
![image](https://user-images.githubusercontent.com/47923507/103546812-96c7c680-4ec9-11eb-8eb4-0c80a675ee5c.png)

[2021-01-05 07:23] harsh-9in commented on #238
you can remove those broken images

[2021-01-05 07:43] #238 closed

[2021-01-06 18:41] tharunc opened #241 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. For reference, please check out: https://github.com/apps/welcome
THANK YOU

[2021-01-08 06:56] yashsehgal commented on #209
Hey, Can I work on this issue, Is this issue still open?

[2021-01-08 16:42] shubhraagarwal commented on #209
If this issue is still open, I'd like to work on it.

[2021-01-09 17:08] Vishal-raj-1 commented on #219
@harsh-9in did you update my points for this issue ?

[2021-01-15 04:33] samir-0711 opened #242 "Add Contributors Table in README.md"
Like this
![image](https://user-images.githubusercontent.com/68433936/104681642-d176fd80-5718-11eb-979f-fdba6eaf6f6d.png)

[2021-01-15 04:33] samir-0711 commented on #242
I would like to work on this.

[2021-01-18 09:54] #211 closed

[2021-01-20 17:08] NikhilSharmaWe commented on #46
pls someone help how do i proceed to add this feature

[2021-02-08 15:44] chicken-biryani opened #243 "Adding 2 lines in Readme"
**Is your feature request related to a problem? Please describe.**
While running the programming, I got
ModuleNotFoundError: No module named 'django_heroku'
despite installing requirements. Other users should not face the same issue

**Describe the solution you'd like**
The one that I'm adding

**Describe alternatives you've considered**
None

**Additional context**
--

[2021-02-08 15:55] chicken-biryani commented on #243
My Bad. I didn't see it in the requirements file

[2021-03-17 10:20] #242 closed

[2021-04-11 16:50] harsh-9in opened #247 "Add Payment Gateway for membership purpose"

[2021-12-06 03:30] chetak123 commented on #195
Hey @harsh-9in I would like to work on this issue please.

[2022-10-04 16:24] srishtig2412 commented on #46
is this issue open to work upon?

[2022-11-19 13:47] vighneshbhaktaa opened #257 "Personal blog"